<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.billing_address.line_1') %></p>
  <p class="field-value"><%= billing_address.line_1 %></p>
</div>
<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.billing_address.line_2') %></p>
  <p class="field-value"><%= billing_address.line_2 %></p>
</div>
<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.billing_address.city') %></p>
  <p class="field-value"><%= billing_address.city %></p>
</div>
<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.billing_address.state') %></p>
  <p class="field-value"><%= billing_address.state %></p>
</div>
<div>
  <p class='field-label'><%= t('user_accounts.subscriptions.billing_address.zip_code') %></p>
  <p class='field-value'><%= billing_address.zip %></p>
</div>
<div>
  <p class='field-label'><%= t('user_accounts.subscriptions.billing_address.country') %></p>
  <p class='field-value'><%= billing_address.country %></p>
</div>
