<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.payment_method.name_on_card') %></p>
  <p class="field-value"><%= billing_address.full_name %></p>
</div>
<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.payment_method.credit_card_number') %></p>
  <p class="field-value"><%= subscription.masked_card_number %></p>
</div>
<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.payment_method.cvv') %></p>
  <p class="field-value">XXX</p>
</div>



  <% unless subscription.cancel_at_end_of_period %>
    <div class="payment-tools">
        <%= skip_a_month_link(subscription) %>
        <span class='separator'>|</span>
      <%= link_to 'Cancel Subscription', cancellation_subscription_path(subscription), class: 'cancel-sub' %>
    </div>
  <% end %>
