<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.shipping_address.first_name') %></p>
  <p class="field-value"><%= shipping_address.first_name %></p>
</div>
<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.shipping_address.last_name') %></p>
  <p class="field-value"><%= shipping_address.last_name %></p>
</div>
<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.shipping_address.line_1') %></p>
  <p class="field-value"><%= shipping_address.line_1 %></p>
</div>
<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.shipping_address.line_2') %></p>
  <p class="field-value"><%= shipping_address.line_2 %></p>
</div>
<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.shipping_address.city') %></p>
  <p class="field-value"><%= shipping_address.city %></p>
</div>
<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.shipping_address.state') %></p>
  <p class="field-value"><%= shipping_address.state %></p>
</div>
<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.shipping_address.zip_code') %></p>
  <p class="field-value"><%= shipping_address.zip %></p>
</div>
<div>
  <p class="field-label"><%= t('user_accounts.subscriptions.shipping_address.country') %></p>
  <p class="field-value"><%= shipping_address.country %></p>
</div>