<div class="row">
  <div class="animated fadeIn">

    <% if @subscriptions.present? %>
      <div class="panel-body">
        <% @subscriptions.each do |subscription| %>
          <div class="col-sm-6" id='edit-container' data-editable="<%= current_unit_editable?(subscription.latest_period)%>" data-fieldname='Shipping Address' data-month="<%= Subscription::CrateDateCalculator.current_crate_month %>" data-nextmonth="<%= Subscription::CrateDateCalculator.next_crate_month %>">
            <div class="hpanel">
              <div class="panel-heading subscription-header-<%= subscription.id %> hbuilt">
                <%= render 'user_accounts/subscription_name', subscription: subscription %>
              </div>
              <div class="panel-body">
                <div class="row m-b-md clearfix">
                  <div class="col-xs-12">
                    <dl class="dl-horizontal">
                      <dt><%= t('user_accounts.subscriptions.plan_type') %></dt>
                      <dd><%= subscription.plan_title %></dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt><%= t('user_accounts.subscriptions.next_billing_date') %></dt>
                      <dd><%= subscription.next_billing_date %></dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt><%= t('user_accounts.subscriptions.status') %></dt>
                      <dd><%= subscription_status(subscription) %>
                        <% unless should_block_for_subscription?(subscription) %>
                        <%= reactivation_available_for(subscription) %> <%= skip_status(subscription) %>
                        <% end %>
                      </dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <%= render partial: 'shipments_tracking', locals: { subscription: subscription } %>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt></dt>
                      <dd>
                      <% unless should_block_for_subscription?(subscription) %>
                        <% if subscription.cancel_at_end_of_period? %>
                          <%= link_to t(:remove_cancelation), undo_cancellation_at_end_of_period_subscription_path(subscription), class: 'btn btn-secondary btn-sm', method: :put %>
                        <% else %>
                          <% if is_upgradable?(subscription) %>
                            <%= link_to t(:upgrade), upgrade_preview_subscription_path(subscription), class: 'btn btn-secondary btn-sm', role: 'button' %>
                          <% end %>
                        <% end %>
                      <% end %>
                      </dd>
                    </dl>

                  </div>
                </div>
                <div class="panel-group" id="accordion<%= subscription.id %>" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading show" role="tab" id="headingOne<%= subscription.id %>">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion<%= subscription.id %>" href="#collapseOne<%= subscription.id %>" aria-expanded="true" aria-controls="collapseOne<%= subscription.id %>">
                          <i class="fa fa-user"></i>
                          <%= t('user_accounts.subscriptions.looter_info.title') %>
                        </a>
                      </h4>
                      <ul class="actions">
                        <li class="dropdown">
                        <% unless should_block_for_subscription?(subscription) %>
                          <a href="" data-toggle="dropdown" aria-expanded="false" id="edit-heading-one<%= subscription.id %>">
                            <i class="fa fa-cog"></i>
                          </a>
                        <% end %>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                              <a data-pmb-action="edit" href=""><%= t(:edit) %></a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div id="collapseOne<%= subscription.id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne<%= subscription.id %>">
                      <div class="panel-body">
                        <div class="pmbb-view">
                          <%= render 'looter_info', subscription: subscription %>
                        </div>
                        <div class="pmbb-edit">
                          <%= simple_form_for(subscription, :html => {:class => 'form-vertical form-validate', :role => 'form' }) do |f| %>

                            <%= f.input :name, :label => t('user_accounts.subscriptions.looter_info.subscription_name'), :autofocus => true, :required => true %>
                            <% unless is_level_up?(subscription) %>
                              <%= f.input :shirt_size, :as => :select, :collection => shirt_sizes, :input_html => { :class => 'select select2' }, :prompt => :shirt_size, :label => t('user_accounts.subscriptions.looter_info.shirt_size'), :required => true %>
                            <% end %>
                            <div class="pull-right">
                              <label><%= image_tag('spinner.gif', class: 'loader') %></label>
                              <%= f.button :submit, t(:update), :class => 'btn btn-secondary btn-sm', 'data-loading-text' => t('user_accounts.subscriptions.saving') %>
                              <button data-pmb-action="reset" class="btn btn-default btn-sm"><%= t(:cancel) %></button>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo<%= subscription.id %>">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion<%= subscription.id %>" href="#collapseTwo<%= subscription.id %>" aria-expanded="false" aria-controls="collapseTwo<%= subscription.id %>">
                          <i class="fa fa-credit-card"></i>
                          <%= t('user_accounts.subscriptions.payment_method.title') %>
                        </a>
                      </h4>
                      <ul class="actions">
                        <li class="dropdown">
                        <% unless should_block_for_subscription?(subscription) %>
                          <a href="" data-toggle="dropdown" aria-expanded="false" id="edit-heading-two<%= subscription.id %>">
                            <i class="fa fa-cog"></i>
                          </a>
                        <% end %>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                              <a data-pmb-action="edit" href=""><%= t(:edit) %></a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div id="collapseTwo<%= subscription.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo<%= subscription.id %>">
                      <div class="panel-body">
                        <div class="pmbb-view">
                          <%= render 'payment_method', subscription: subscription, billing_address: subscription.billing_address %>
                        </div>

                        <div class="pmbb-edit">
                          <%= simple_form_for(:payment_method, url: payment_method_path(subscription.billing_address), method: :patch, :html => { :id => "edit_payment_method#{subscription.id}", :class => 'form-vertical form-validate', :role => 'form' }) do |f| %>
                            <%= hidden_field_tag :subscription_id, subscription.id %>

                            <%= f.input :full_name, :label => t('user_accounts.subscriptions.payment_method.name_on_card'), :autofocus => true %>
                            <%= f.simple_fields_for :credit_card, subscription.billing_address.credit_card do |cc| %>
                              <%= cc.input :number, :label => t('user_accounts.subscriptions.payment_method.credit_card_number'), :required => true %>
                              <%= cc.input :cvv, :label => t('user_accounts.subscriptions.payment_method.card_security_code'), :required => true %>
                              <%= cc.input :expiration, as: :date, start_year: Date.today.year, end_year: Date.today.year + 10, discard_day: true, order: [:month, :year], label: t('user_accounts.subscriptions.payment_method.card_expiration'), required: true, :input_html => { :class => 'select select2 card_expiration' } %>
                            <% end %>

                            <div class="pull-right">
                              <label><%= image_tag('spinner.gif', class: 'loader') %></label>
                              <%= f.button :submit, t(:update), :class => 'btn btn-secondary btn-sm', 'data-loading-text' => t('user_accounts.subscriptions.saving') %>
                              <button data-pmb-action="reset" class="btn btn-default btn-sm"><%= t(:cancel) %></button>
                            </div>

                          <% end %>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree<%= subscription.id %>">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion<%= subscription.id %>" href="#collapseThree<%= subscription.id %>" aria-expanded="false" aria-controls="collapseThree<%= subscription.id %>">
                          <i class="fa fa-home"></i>
                          <%= t('user_accounts.subscriptions.billing_address.title') %>
                        </a>
                      </h4>
                      <ul class="actions">
                        <li class="dropdown">
                        <% unless should_block_for_subscription?(subscription) %>
                          <a href="" data-toggle="dropdown" aria-expanded="false" id="edit-heading-three<%= subscription.id %>">
                            <i class="fa fa-cog"></i>
                          </a>
                        <% end %>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                              <a data-pmb-action="edit" href=""><%= t(:edit) %></a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div id="collapseThree<%= subscription.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree<%= subscription.id %>">
                      <div class="panel-body">
                        <div class="pmbb-view">
                          <%= render 'billing_address', billing_address: subscription.billing_address, subscription: subscription %>
                        </div>
                        <div class="pmbb-edit">
                          <%= simple_form_for(subscription.billing_address, :html => {:class => 'form-vertical form-validate', :role => 'form' }) do |f| %>
                            <%= hidden_field_tag :subscription_id, subscription.id %>

                            <%= f.input :line_1, :required => true, :label => 'Address 1' %>
                            <%= f.input :line_2, :label => 'Address 2' %>
                            <div class="row">
                              <div class="col-md-6">
                                <%= f.input :city, :required => true, :label => t('user_accounts.subscriptions.billing_address.city') %>
                              </div>
                              <div class="col-md-3">
                                <%= f.input :state, :collection => state_options(subscription.billing_address.country), :prompt => t(:please_select).upcase, :label => t('user_accounts.subscriptions.billing_address.state'), :input_html => { :class => 'select select2' } %>
                              </div>
                              <div class="col-md-3">
                                <%= f.input :zip, :label => t('user_accounts.subscriptions.billing_address.zip_code') %>
                              </div>
                            </div>
                            <%= f.input :country, as: :country, collection: country_options, priority: %w(US CA), prompt: t(:please_select).upcase, label: t('user_accounts.subscriptions.billing_address.country'), :input_html => { :class => 'select select2 country_selector' } %>

                            <div class="pull-right">
                              <label><%= image_tag('spinner.gif', class: 'loader') %></label>
                              <%= f.button :submit, t(:update), :class => 'btn btn-secondary btn-sm', 'data-loading-text' => t('user_accounts.subscriptions.saving') %>
                              <button data-pmb-action="reset" class="btn btn-default btn-sm"><%= t(:cancel) %></button>
                            </div>

                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour<%= subscription.id %>">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion<%= subscription.id %>" href="#collapseFour<%= subscription.id %>" aria-expanded="false" aria-controls="collapseFour<%= subscription.id %>">
                          <i class="fa fa-truck"></i>
                          <%= t('user_accounts.subscriptions.shipping_address.title') %>
                        </a>
                      </h4>
                      <ul class="actions">
                        <li class="dropdown">
                          <% unless should_block_for_subscription?(subscription) %>
                          <a href="" data-toggle="dropdown" aria-expanded="false" id="edit-heading-four<%= subscription.id %>">
                            <i class="fa fa-cog"></i>
                          </a>
                        <% end %>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                              <a class="shipping-trigger" data-pmb-action="edit" href=""><%= t(:edit) %></a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div id="collapseFour<%= subscription.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour<%= subscription.id %>">
                      <div class="panel-body">
                        <div class="pmbb-view">
                          <%= render 'shipping_address', shipping_address: subscription.shipping_address %>
                        </div>
                        <div class="pmbb-edit">
                          <%= simple_form_for(subscription.shipping_address, :html => {:class => 'form-vertical form-validate', :role => 'form' }) do |f| %>
                            <%= hidden_field_tag :subscription_id, subscription.id %>
                            <%= f.input :first_name, :label => t('user_accounts.subscriptions.shipping_address.first_name'), :autofocus => true %>
                            <%= f.input :last_name, :label => t('user_accounts.subscriptions.shipping_address.last_name') %>

                            <%= f.input :line_1, :required => true, :label => t('user_accounts.subscriptions.shipping_address.line_1') %>
                            <%= f.input :line_2, :label => t('user_accounts.subscriptions.shipping_address.line_2') %>
                            <div class="row">
                              <div class="col-md-6">
                                <%= f.input :city, :label => t('user_accounts.subscriptions.shipping_address.city') %>
                              </div>
                              <div class="col-md-3">
                                <%= f.input :state, :collection => state_options(subscription.shipping_address.country), :prompt => t(:please_select).upcase, :label => t('user_accounts.subscriptions.shipping_address.state'), :input_html => { :class => 'select select2' }  %>
                              </div>
                              <div class="col-md-3">
                                <%= f.input :zip, :label => t('user_accounts.subscriptions.shipping_address.zip_code') %>
                              </div>
                            </div>
                            <%= f.input :country, as: :country, collection: country_options, priority: %w(US CA), prompt: t(:please_select).upcase, label: t('user_accounts.subscriptions.shipping_address.country'), :input_html => { :class => 'select select2 country_selector' } %>

                            <div class="pull-right">
                              <label><%= image_tag('spinner.gif', class: 'loader') %></label>
                              <%= f.button :submit, t(:update), :class => 'btn btn-secondary btn-sm', 'data-loading-text' => t('user_accounts.subscriptions.saving') %>
                              <button data-pmb-action="reset" class="btn btn-default btn-sm"><%= t(:cancel) %></button>
                            </div>

                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <% end %>

        <% unless should_block_for_user?(current_user) %>
        <!-- START PROMO GIFT SECTION -->
        <div class="<%= subscription_class_count(@subscriptions) %> align-center" id="upgrade-promotion">
          <section id="upgrade-promotion-content">
            <div>
              <i class="fa fa-heart fa-2x"></i>
              <h1><%= t('user_accounts.subscriptions.upgradable_subscriptions.your_gift').upcase %></h1>
              <h2><%= t('user_accounts.subscriptions.upgradable_subscriptions.year_plan').upcase %></h2>
              <p><%= t('user_accounts.subscriptions.upgradable_subscriptions.you_receive').html_safe %></p>
              <p><%= t('user_accounts.subscriptions.upgradable_subscriptions.which_plan') %></p>
              <p class="upgradable-subscriptions">
                <%= render 'promotion', upgradable_subscriptions: @upgradable_subscriptions %>
              </p>
              <p>
                <a href="#" class="btn btn-secondary" id="upgrade-link"><%= t(:upgrade).upcase %></a>
              </p>
            </div>
          </section>
        </div>
        <!-- END PROMO GIFT SECTION -->
      <% end %>

      </div><!-- END .PANEL-BODY -->

      <% else %>
        <div class='container'>
          <div class='row no-sub'>
            <div class='col-md-6 base center-block'>
              <div class='account-header'>
                <%= t('user_accounts.subscriptions.no_active_subscriptions').upcase %>
              </div>
              <div class='bottom checkout-left align-center'>
                <p>
                  <%= t('user_accounts.subscriptions.no_active_subscriptions_content', email: current_user.email) %>
                </p>
                <%= link_to t(:add_subscription).upcase, subscriptions_path, role: 'button', class: 'btn btn-secondary' %>
              </div>
            </div>
          </div>
          <div class='col-md-3 hidden-xs'></div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render partial: 'shared/shipped_alert_modal' %>
<%= render partial: 'shared/survey', locals: { survey: params[:survey] } %>
