<%= content_for :title, 'Partner' %>

<div id="contact-page" class="white-bg statics">
  <div class="container">
    <div class="row">

      <div class="col-md-3 side-nav-container">
        <%= render "shared/side_nav" %>
      </div>

      <div class="col-md-9">

        <div class="contact-top">
          <h1><%= t('partner.partner_with_lootcrate').html_safe %></h1>
        </div>

        <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" role="form" method="POST" class="form-validate" novalidate>
          <input type=hidden name="oid" value="00Di0000000ZSdW">
          <input type=hidden name="retURL" value="http://www.lootcrate.com/thankyou">
          <input type=hidden name="priority" id="priority" value="low">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="first_name"><abbr title="required">*</abbr> <%= t('partner.first_name') %></label>
                <input id="first_name" class="form-control required" maxlength="40" name="first_name" size="20" type="text" autofocus />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="last_name"><abbr title="required">*</abbr> <%= t('partner.last_name') %></label>
                <input id="last_name" class="form-control required" maxlength="80" name="last_name" size="20" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email"><abbr title="required">*</abbr> <%= t('partner.email') %></label>
                <input id="email" class="form-control required" maxlength="80" name="email" size="20" type="email" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone"><abbr title="required">*</abbr> <%= t('partner.phone') %></label>
                <input id="phone" class="form-control required" maxlength="40" name="phone" size="20" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="company"><abbr title="required">*</abbr> <%= t('partner.company') %></label>
                <input id="company" class="form-control required" maxlength="40" name="company" size="20" type="text" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="URL"><abbr title="required">*</abbr> <%= t('partner.website') %></label>
                <input id="URL" class="form-control required" maxlength="80" name="URL" size="20" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="00Ni000000GXwfh"><abbr title="required">*</abbr> <%= t('partner.contacting') %></label>
                <br>
                <select id="00Ni000000GXwfh" name="00Ni000000GXwfh" class="form-control required" title="<%= t('partner.contacting') %>">
                  <option value="">--<%= t('partner.none') %>--</option>
                  <option><%= t('partner.options.have_products') %></option>
                  <option><%= t('partner.options.provide_advertising') %></option>
                  <option><%= t('partner.options.co_branded') %></option>
                  <option><%= t('partner.options.provide_marketing') %></option>
                  <option><%= t('partner.options.propose_marketing') %></option>
                  <option><%= t('partner.options.provide_services') %></option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="URL"><%= t('partner.tell_us_more') %></label>
                <textarea id="00Ni000000D6Z2f" name="00Ni000000D6Z2f" class="form-control" rows="5" type="text" wrap="soft"></textarea>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary pull-right"><%= t(:submit) %></button>
        </form>

      </div>

    </div>
  </div>
</div>
