<!-- main content -->
<div class="amiibo-bg">
  <img src="<%= image_path("nintendo-amiibo.jpg") %>" alt="amiibo!" class="img-responsive">
</div>

<div class="white-bg">
  <div class="container amiibo-container">

    <div class="row">
      <div class="ribbon-wrapper-green hidden-md hidden-lg">
        <div class="ribbon-green">
          <%= t('amiibo.save', money: 10) %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="base">
          <div class="plan-header">
            <%= t('amiibo.three_weekly_payments') %>
          </div>

          <div class="plan-details">
            <%= image_tag("one-month-us-only.jpg") %>

            <p class="gray-text">
              <%= t('amiibo.payment', money: 50, shipping: 5) %>
            </p>
          </div>

          <div class="bottom">
            <ul>
              <li><%= t('amiibo.total_price', price: 165) %></li>
              <li><%= t('amiibo.bills_weekly') %></li>
              <li><%= t('amiibo.three_shipped_crates') %></li>
              <li><%= t('amiibo.space_out') %></li>
            </ul>

            <%= link_to(t(:select), new_checkout_path(plan: 'amiibo-crate-three-weekly-payments'), class: 'btn-select') %>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="base">

          <div class="plan-header">
            <%= t('amiibo.one_time_payment') %>
          </div>

          <div class="plan-details">
            <%= image_tag("one-month-us-only.jpg") %>

            <p class="gray-text"><%= t('amiibo.payment', money: 140, shipping: 15) %></p>
          </div>

          <div class="bottom">
            <ul>
              <li><%= t('amiibo.total_price', price: 155) %></li>
              <li><%= t('amiibo.bills_once') %></li>
              <li><%= t('amiibo.three_shipped_crates') %></li>
              <li><%= t('amiibo.save', money: 10) %></li>
            </ul>

            <%= link_to(t(:select), new_checkout_path(plan: 'amiibo-crate-single-payment'), class: 'btn-select') %>
          </div>
        </div>
      </div>

    </div>

    <!-- Something -->
    <div class="row am-inf-pad">
			<div class="col-md-12">
				<h1 class="one"><span><%= t('amiibo.what_you_get.title') %></span><br></h1>
			</div>
		</div>

    <div class="row visible-lg am-inf-rel">
      <%= image_tag("amiibo_products.jpg") %>
    </div>

    <div class="row am-inf-rel">

    <div class="col-md-4 amiibo-week">
      <span class="hidden-md hidden-lg"><%= image_tag("amiibo-week1.jpg") %><br></span>
      <h3 class="amiibo-header"><%= t('amiibo.what_you_get.week_1') %></h3>
      <p><%= t('amiibo.what_you_get.week_1_content').html_safe %></p>
    </div>

    <div class="col-md-4 amiibo-week">
      <span class="hidden-md hidden-lg"><%= image_tag("amiibo-week2.jpg") %><br></span>
      <h3 class="amiibo-header"><%= t('amiibo.what_you_get.week_2') %></h3>
      <p><%= t('amiibo.what_you_get.week_2_content').html_safe %></p>
    </div>

    <div class="col-md-4 amiibo-week">
      <span class="hidden-md hidden-lg"><%= image_tag("amiibo-week3.jpg") %><br></span>
      <h3 class="amiibo-header"><%= t('amiibo.what_you_get.week_3') %></h3>
      <p><%= t('amiibo.what_you_get.week_3_content') %></p>
    </div>
  </div>
</div>

<!-- How it works -->
<div class="container hidden-xs hidden-sm spacer">
  <div class="row am-inf-pad">
    <div class="col-md-12">
      <h1 class="one"><span><%= t('amiibo.how_it_works.title') %></span><br></h1>
    </div>
  </div>
</div>

<div class="container base hidden-xs hidden-sm spacer">
  <div class="row">
    <div class="col-md-12 howitworks-header">
      <div class="col-md-4 am-bot"><%= t('amiibo.how_it_works.step_1') %></div>
      <div class="col-md-4 am-bot"><%= t('amiibo.how_it_works.step_2') %></div>
      <div class="col-md-4 am-bot"><%= t('amiibo.how_it_works.step_3') %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="steps">
        <img src="<%= image_path("amiibo_hiw.jpg") %>"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 bottom">
      <div class="col-md-4">
        <ul>
          <li><%= t('amiibo.how_it_works.best_plan') %></li>
          <li><%= t('amiibo.how_it_works.select_one_time') %></li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul>
          <li><%= t('amiibo.how_it_works.first_crate_ships') %></li>
          <li><%= t('amiibo.how_it_works.following_crates') %></li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul>
          <li><%= t('amiibo.how_it_works.enjoy_exclusive_items') %></li>
          <li><%= t('amiibo.how_it_works.share_your_experience') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
