<div class="content-container">
  <div class="subscription-image-container">
    <%= image_tag '1-year-learn.jpg', size: '600x600', class: 'img-responsive' %>
  </div>
  <div class="description-container">
    <h3><%= t('welcome.learn_more.international.twelve_month.title').html_safe %></h3>

    <p>
      <%= t('welcome.learn_more.international.twelve_month.content') %>
    </p>

    <ul><h4><%= t('welcome.learn_more.what_you_get') %></h4>
      <li><%= t('welcome.learn_more.international.twelve_month.subtext') %></li>
      <li><%= t('welcome.learn_more.handpicked_epic_items') %></li>
      <li><%= t('welcome.learn_more.join_community') %></li>
      <li><%= t('welcome.learn_more.megacrate_raffle').html_safe %></li>
    </ul>
  </div>
</div>