<%
   if controller_name == "registrations"
     url = registration_path(resource_name)
     submit_text = t(:sign_up).upcase
   else
     url = session_path(resource_name)
     submit_text = t(:login).upcase
   end
%>

<%= simple_form_for(resource, :as => resource_name, :url => url, :role => 'form') do |f| %>
  <div class="form-inputs">
    <%= f.input :email, :required => false, :autofocus => false %>
    <%= f.input :password, :required => false %>

    <% if controller_name == "sessions" %>
      <div class="register-copy">
        <%= link_to t('devise.shared.forgot_my_password'), new_password_path(resource_name), :id => "forgotpassword" %>
      </div>

      <div class="register-copy">
        <%= link_to t('devise.shared.sign_in_with_facebook'), user_omniauth_authorize_path(:facebook) %>
      </div>

      <% if false %>
        <%= f.input :remember_me, inline_label: t('devise.shared.keep_me_logged_in'), label: false, :input_html => { :id => "remembercheckbox" }, :as => :boolean if devise_mapping.rememberable? %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, submit_text, :class => "btn btn-secondary" %>
  </div>
<% end %>
