
<!--
  HTML containing hero image + headline title/subscribe CTA button.
  Prepend HTML block at the head
-->
<div class="wf-grey-bg hidden-xs" id="wf-hero">
  <div class="container">
    <div class="hero-unit">
      <div class="row">
        <div class="col-md-12 banner-image-container">

        </div>
        <div class="col-md-12 banner-text-container">
          <div class="textbox">
            <h1>A Monthly Box of</h1>
            <h1>Epic Geek &amp; Gamer Gear</h1>
            <div class="description-container">
              <p class="description"><span class="wf-orange-herotext">Loot Crate&trade; &nbsp;</span>is the #1 most popular and highest rated</p>
              <p class="description visible-desktop">subscription box. <span class="wf-orange-herotext">Get $40+ </span>retail value in every crate</p>
              <p class="description visible-desktop">and be a part of our active, growing community.</p>
              <span class="pricing-first">$13.37</span>
              <span class="pricing-last">per month + S/H</span>
              <p><a href="/join" class="btn-select">SUBSCRIBE</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  HTML block containing 'social cube' with multiple
  quotes, image panels and video still to trigger YT video

  ********** Insert after the 'brands-bg' div **********
-->
<div class="looters-feature container">
  <div class="row">
    <div class="col-md-12">
      <div class="wf-panel-large">
        <%= image_tag("fb/guy-holding-up-crate.jpg", alt: "LOOT CRATE&trade;!") %>
        <a class="play-icon"href="#"></a>
      </div>
      <div class="wf-panel-container-right">
        <div class="row">
          <div class="wf-panel">
            <p>
              "Loot Crate&trade; did an amazing job of fulfilling on
              the original promise! Everything in the crate was
              epic!"
            </p>
            <strong>Joey B.</strong>
          </div>
          <div class="wf-panel">
            <i class="wf-facebook"></i>
            <%= image_tag("fb/girl-with-big-pixel-glasses.jpg", alt: "LOOT CRATE&trade;!") %>
            <div class="wf-slide">
              <i class="wf-facebook"></i>
              <p>
                "Thanks Loot Crate&trade; for today's outfit! Off
                to see some one-act plays"
              </p>
              <a class="wf-external-link" href="//facebook.com/lootcrate">Like us on Facebook ￫</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="wf-panel">
            <%= image_tag("fb/girl-in-red-hoodie.jpg", alt: "Gurlz in da hood.") %>
          </div>
          <div class="wf-panel video-panel">
            <%= image_tag("fb/lootcrate-beer-sand.jpg", alt: "A cold one") %>
            <i class="wf-youtube"></i>
            <a class="play-icon"href="#"></a>
            <div class="wf-slide">
              <i class="wf-youtube"></i>
              <p>Nerd Unboxing <br> Loot Crate&trade;! - April 2014</p>
              <a class="wf-external-link video-link" href="#">See Video ￫</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="wf-panel">
        <%= image_tag("fb/dude-opening-crate.jpg", alt: "Open sesame") %><i class="wf-twitter"></i>
        <div class="wf-slide">
          <i class="wf-twitter"></i>
          <p>
            Tryin to look snazzy <a href="//twitter.com/#legendofzelda">#legendofzelda</a>
            <a href="//twitter.com/#link">#link</a>
            <a href="//twitter.com/#lootcrate">#lootcrate</a> by travychu
            <a href="//t.co/XbacFijpJz">//t.co/XbacFijpJz</a>
          </p>
          <a class="wf-external-link" href="//twitter.com/lootcrate">Follow us on Twitter ￫</a>
        </div>
      </div>
      <div class="wf-panel">
        <p>
          "Great concept and execution! The items were great and I
          can't wait until next month!"
        </p>
        <strong>Tyler B.</strong>
      </div>
      <div class="wf-panel">
        <%= image_tag("fb/guys-with-crates.jpg", alt: "Melrose Place") %><i class="wf-instagram"></i>
        <div class="wf-slide">
          <i class="wf-instagram"></i>
          <p>
            This is (partially) how we do it. With
            <a href="//instagram.com/lootcrate">@sethhendrix</a>
            and Mikey. #lootcrate
          </p>
          <a class="wf-external-link" href="//instagram.com/lootcrate">Follow us on Instagram￫</a>
        </div>
      </div>
      <div class="wf-panel">
        <i class="wf-instagram"></i>
        <%= image_tag("fb/penguin-in-helmet.jpg", alt: "LINUX CRATE!") %>
      </div>
      <div class="wf-panel">
        <p>
          "It's like getting a Christmas present every month, from
          a family member who understands that you're a
          geek!"
        </p>
        <strong>The Ulmet.</strong>
      </div>
    </div>
  </div>

  <div class="wf-video-large">
    <iframe class="youtube-player" frameborder="0" height="564" id=
    "wf-video-1" name="wf-video-1" src=
    "//www.youtube.com/embed/oPADH-vsfyQ?list=PLB5xrFWW2vsssC7OYxYoboXdh25EjSeGv&amp;enablejsapi=1&amp;showinfo=0"
    width="100%"></iframe>
    <a class="close-video" href="#"></a>
  </div>

  <div class="wf-video-small">
    <iframe class="youtube-player" frameborder="0" height="564" id=
    "wf-video-2" name="wf-video-2" src=
    "//www.youtube.com/embed/iNB0jz5EDKM?enablejsapi=1&amp;showinfo=0"
    width="100%"></iframe>
    <a class="close-video" href="#"></a>
  </div>
</div>

<!-- ********** End of HTML block for the 'social cube' ********** -->

<!--
  The entire 'wf-experiment' HTML block contains all needed markup
  for all page sections following the 'social-cube' block (looters-feature container div)
  with the following structure:

  - 'How It Works'
  - 'Past Crates' carousel
  - 'What the press are saying'
  - 'Join the community'
-->
<div class="wf-experiment">
   <div class="wf-grey-header">
    <h1><b>HOW IT WORKS</b></h1>
  </div>

  <!-- ********** How It Works block ********** -->
  <div class="wf-grey-bg">
    <div class="wf-how-it-works container">
      <div class="row wf-process">
        <div class="col-md-4">
          <a href="/subscriptions">
            <div class="wf-caption">
              <h2>JOIN<br>LOOT CRATE&trade;.</h2>
              <p>Select your plan<br>and cancel anytime.</p>
            </div>
          </a>
        </div>
        <div class="span4 wf-pack">
          <span>
            <div class="wf-caption">
              <h2>WE PACK A THEMED MYSTERY<br>BOX FOR YOU EVERY MONTH.</h2>
              <p>We partner with great brands to<br>deliver an epic experience.</p>
            </div>
          </span>
        </div>
        <div class="span4 wf-receive">
          <span>
            <div class="wf-caption">
              <h2>YOU RECEIVE THE GOODIES<br>AT YOUR DOORSTEP.</h2>
              <p>Unbox your crate and share your<br>experience with the Looter community.</p>
              <small>
                Plus, you're automatically entered to<br>win a monthly Mega Crate!
                <button class="wf-popover-btn">
                  <div class="wf-popover">
                    <div class="arrow"></div>
                    <div class="popover-content">
                      <p><b>Every month a lucky member wins a Mega Crate valued at over $2,000!</b></p>
                      <p>Content included: </p>
                      <ul>
                        <li>Exclusive collectible.</li>
                        <li>Tech gadgets and game systems.</li>
                        <li>Apparel and accessories like laptop, bags, hoodies, and hats.</li>
                        <li>And other items so big and epic they can't fit in our monthly crates!</li>
                      </ul>
                    </div>
                  </div>
                </button>
              </small>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- ********** End of 'How It Works' block ********** -->

  <!-- ********** 'PAST CRATES' carousel  ********** -->
  <h1><b>PAST CRATES</b></h1>
  <div class="wf-last-month">
    <div class="wf-carousel">
      <div class="wf-carousel-inner">
        <%= image_tag("past-crates/optimizely/may-fg.png", alt: "May Crate", class: "image-fg" ) %>
        <%= image_tag("past-crates/optimizely/september-fg.png", alt: "September Crate", class: "image-fg" ) %>
        <%= image_tag("past-crates/optimizely/august-fg.png", alt: "August Crate", class: "image-fg" ) %>
        <%= image_tag("past-crates/optimizely/july-fg.png", alt: "July Crate", class: "image-fg" ) %>
        <%= image_tag("past-crates/optimizely/june-fg.png", alt: "June Crate", class: "image-fg" ) %>
      </div>
    </div>
    <button class="wf-carousel-left"></button>
    <button class="wf-carousel-right"></button>
  </div>
  <!-- ********** End of 'PAST CRATES' HTML block ********** -->

  <!-- ********** 'What the press is saying' block ********** -->
  <div class="wf-press wf-grey-bg">
    <h1 class="wf-press-text"><b>WHAT THE PRESS IS SAYING</b></h1>
    <div class="wf-press-quotes">
      <p class="wf-wired-text">This is a subscription service unlike all the others - the emphasis is on humorous, off beat items with strong geek appeal.</p><span>- WIRED</span>
      <p class="wf-geek-text">The guys at Loot Crate&trade; have made it their mission to find all of the geeky, gamer stuff out there and send you a box of it every month.</p><span>- GEEK</span>
    </div>
    <div class="hidden-xs" id="wf-press"></div>
  </div>
  <!-- ********** End of 'What the press is saying' HTML block ********** -->

  <h1><b>JOIN THE LOOTERS COMMUNITY TODAY!</b></h1>
  <div class="wf-join">
    <a class="btn-select" href="/join">SUBSCRIBE</a>
  </div>
</div>

<script type="text/javascript">
  fb();
</script>



