<% content_for :title, 'Covert Computer Pro' %>
<div class="container-fluid">
	<div class="container">
			<div class="row">
				<div class="sceneOne">
						<div class="mainLog col-md-8 center win">
							<div class="firstIn">
								<form action="" role="form" class="inOne">
									<input type="text" autofocus class="go" placeholder="Name" />
								</form>
							</div>
							<%= image_tag("covertops/covertscreenwindow01.png", alt:'lootcrate', class:'firstPanel img-responsive center') %>
						</div>
						<div class="popOne win">
							<%= image_tag("covertops/covertscreenwindow02.png", alt:'lootcrate', class:'firstPanel img-responsive center') %>
						</div>
						<div class="popTwo win">
							<%= image_tag("covertops/covertscreenwindow03.png", alt:'lootcrate', class:'firstPanel img-responsive center') %>
						</div>
		
						<div class="popThree win">
							<%= image_tag("covertops/covertscreenwindow04.png", alt:'lootcrate', class:'firstPanel img-responsive center') %>
						</div>
						<div class="popFour">
							<%= image_tag("covertops/covertscreenwindow05.png", alt:'lootcrate', class:'firstPanel img-responsive center') %>
						</div>

				</div>
		
		</div>
		<div class="row">
			<div class="soWrong">
				
			</div>
			<div class="startScene">
				<div class="alphaZone col-md-8 center">
					<div id="playerAlpha"></div>
					<div class="alphaGo">
						Continue Hacking
					</div>
				</div>
				
			</div>
			<div class="sceneTwo">
				<div class="firstQuestion col-md-8 center">


					<div id="playerOne"></div>

					<div class="question">
						<div class="qHeader">
							<span class="qText">_</span><span class="qNext">_</span>
						</div>
						<input type="text" class="firstAnswer">
					</div>
				</div>
			</div>
			<div class="sceneThree">
				<div class="secondQuestion col-md-8 center">

					<div id="playerTwo"></div>

					<div class="question">
						<div class="qHeader">
							<span class="qText">_</span><span class="qNext">_</span>
						</div>
						<div class="inBumper">
							<input type="text" class="secondAnswer A" placeholder="MM/DD/YYYY">
						</div>
							
						<div class="inBumper">
							<input type="text" class="secondAnswer B" placeholder="MM/DD/YYYY">
						</div>
					</div>

					<div class="goFour">
						Continue Hacking
					</div>
				</div>
			</div>
			<div class="sceneFour">
				<div class="thirdQuestion col-md-8 center">


					<div id="playerThree"></div>

					<div class="question">
						<div class="qHeader">
							<span class="qText">_</span><span class="qNext">_</span>
						</div>
						<input type="text" class="thirdAnswer">
					</div>
				</div>
			</div>
			<div class="sceneFive">
				<div class="fourthQuestion col-md-8 center">


					<div id="playerFour"></div>

					<div class="question">
						<div class="qHeader">
							<span class="qText">_</span><span class="qNext">_</span>
						</div>
						<input type="text" class="fourthAnswer">
					</div>
				</div>
			</div>
			<div class="winScene">
				<div class="winZone col-md-8 center">


				<div id="playerFive"></div>


				</div>
			</div>

			
		</div>
		</div>
</div>
