<div class="container cyberMain">
  <div class="row cyberTops">
    <div class="col-md-3 left">
      <%= image_tag("experience/cyber/iris_lootpower.png", alt:'cyber_iris', class:'img-responsive') %></div>
    <div class="col-md-3 betaPad right"><%= image_tag("experience/cyber/iris_beta.png", alt:'cyber_iris', class:'img-responsive') %></div>
  </div>
  <div class="row">
    <div class="col-md-8 center cyberCrate">
      <div class=""><%= image_tag("experience/cyber/iris_main.png", alt:'cyber_iris', class:'img-responsive') %></div>
    </div>
  </div>
  <div class="row hide">
    <div class="col-md-6 center cyberTempText"></div>
  </div>
  <div class="row">
    <div class="startScan pointer">
      START SCAN
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 center">
      <div class="repScan">
        <div class="iCamBar">
          <div class="iCam">
            <div class="iCamLense">
              <%= image_tag("experience/cyber/iris_cam_lense.png", alt:'cyber_iris', class:'img-responsive') %>    
            </div>
            <div class="iCamGate1 iGate">
              <%= image_tag("experience/cyber/iris_gate_1.png", alt:'cyber_iris', class:'img-responsive') %>    
            </div>
            <div class="iCamGate2 iGate">
              <%= image_tag("experience/cyber/iris_gate_2.png", alt:'cyber_iris', class:'img-responsive') %>    
            </div>
            <div class="iCamGate3 iGate">
              <%= image_tag("experience/cyber/iris_gate_3.png", alt:'cyber_iris', class:'img-responsive') %>    
            </div>
            <%= image_tag("experience/cyber/iris_cam_v4.png", alt:'cyber_iris', class:'img-responsive') %>  
            <div class="iCamLight">
              <%= image_tag("experience/cyber/iris_cam_light.png", alt:'cyber_iris', class:'img-responsive') %>  
            </div>  
           
          </div>
          <%= image_tag("experience/cyber/iris_cam_bar.png", alt:'cyber_iris', class:'img-responsive') %>  
        </div>
        <div class="iPump">
          <%= image_tag("experience/cyber/iris_pump.png", alt:'cyber_iris', class:'img-responsive') %>  
        </div>
        <div class="iDevice">
          <%= image_tag("experience/cyber/iris_main_area.png", alt:'cyber_iris', class:'img-responsive') %>
          <div class="iEyeBg">
            <%= image_tag("experience/cyber/iris_eye_bg.jpg", alt:'cyber_iris', class:'img-responsive') %>
            <div class="iEye">
              <%= image_tag("experience/cyber/iris_eye_v2.png", alt:'cyber_iris', class:'img-responsive') %>
            </div>
            <div class="iEyeScreen">
              <%= image_tag("experience/cyber/iris_screen_sheen.png", alt:'cyber_iris', class:'img-responsive') %>
            </div>
          </div>
          
          <div class="iMainSheen">
            <%= image_tag("experience/cyber/iris_main_sheen.png", alt:'cyber_iris', class:'img-responsive') %>
          </div>
        </div>
      </div>
      <div class="iScreen">
        <div class="iQuestion" data-question='first'></div>
        <div class="iOptions">
          <ul class="iOList">
          </ul>
        </div>
        <div class="iEnter pointer">
          [ENTER]
        </div>
        <div class="iBegin pointer">
          [BEGIN TEST]
        </div>
        <div class="iShare pointer">
          [SHARE] :  <span class="fbP"><i class="fa fa-facebook-square"></i></span>
          <!-- <span class="twtP"><i class="fa fa-twitter-square"></i></i></span> -->
        </div>
         <canvas id="waves"></canvas>
         <div class="waveLine"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="deskExperience">
        This Experience was Designed for resolutions over 1050 pixels. Please plan accordingly.
      </div>
      <div class="repPrinter">
        <div class="iPrint">
          <%= image_tag("experience/cyber/iris_printer.png", alt:'cyber_iris', class:'img-responsive') %>
          <div class="printLights">
            <%= image_tag("experience/cyber/light_bars.png", alt:'cyber_iris', class:'img-responsive') %>
          </div>
          <div class="printZone">
            <div class="pSheet">
              <div class="pText">
                DNA sequencing
                <br>
                Analysis Results
                <br>
                <br>
                Patient: <span class="pPatient">0232</span>
                <br>
                Case #: <span class="pCase">0232</span>-32
              </div>
              <div class="pResults">
                <span class="pPrintResult"></span>
                <br>
                DNA
                <br>
                IDENTIFIED
              </div>
            </div>
            <div class="pGrade">
              <%= image_tag("experience/cyber/iris_printer_grade.png", alt:'cyber_iris', class:'img-responsive') %>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>