<% content_for :title, 'Loot Crate&trade; - Munny Contest' %>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quantico">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Titillium+Web:400,600">

<%= javascript_tag do %>
  window.tempJudgeImagePath = '<%= j image_path('munday.jpg') %>';
<% end %>
<nav role="navigation" class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header clearMargin">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- <a href="#" class="navbar-brand">Brand</a> -->
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="row mainNav  collapse navbar-collapse">
      <div class="container">

        <div class="row">
          <ul class="nav navbar-nav navbar-left clearMargin lootLogo col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <li><%= image_tag("logo.png", alt:'lootcrate', class:'lootCrate') %></li>
          </ul>

          <ul class="clearMargin col-lg-10 munNav">
            <li class="col-xs-12 col-sm-1 col-md-1 col-lg-1" data-target="pane5"><nav class="munnyGo">VOTE</nav></li>
            <li class="col-xs-12 col-sm-1 col-md-1 col-lg-1" data-target="pane5"><nav class="munnyGo mEntries">ENTRIES</nav></li>
            <li class="col-xs-12 col-sm-1 col-md-1 col-lg-1" data-target="pane4"><nav class="munnyGo mJudges">JUDGES</nav></li>
            <li class="col-xs-12 col-sm-1 col-md-1 col-lg-1" data-target="pane3"><nav class="munnyGo mPrizes">PRIZES</nav></li>
            <li class="col-xs-12 col-sm-1 col-md-1 col-lg-1" data-target="pane2"><nav class="munnyGo mContest">CONTEST</nav></li>
            <li class="col-xs-12 col-sm-1 col-md-1 col-lg-1" data-target="pane1"><nav class="munnyGo mHome">HOME</nav></li>
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Login</a></li>
          </ul> -->
        </div>
      </div>
    </div>
    <%= image_tag("logo.png", alt:'lootcrate', class:'lootCrateMob') %>
  </div>
</nav>

<div class="topSpacer"></div>
<div class="container-fluid munnyContainer">
  <div class="row firstRow pane1">
    <%= image_tag("munny_v02.png", alt:'Munny', class:'bigMunny') %>
    <div class="container">

      <div class="col-md-12">
        <div class="col-sm-8 col-md-6 col-lg-5 munnyZone center">

              <div class="row munTitle">
                EXCLUSIVE DIY CONTEST
              </div>
              <div class="row munLogo">
                <li><%= image_tag("munny_logo_v03.png", alt:'Munny', class:'img-responsive align-center center') %></li>
              </div>
              <div class="row munDate">
                <ul class="inline clearMargin">
                  <li class="mDT">FEB 23</li> <li class="mDT"><div class="mDash">&mdash;</div></li> <li class="mDT">MAR 20</li>
                </ul>
              </div>
              <div class="row munText">
                Create something unique with the Mini Munny from February's crate! It comes with dry erase markers, but you can use whatever you like to create whatever your mind can dream up!
              </div>
              <div class="row munButtons">
                <ul class="col-md-12 center inline">
                  <li class="clearMargin clearPadding mBtnLeft">
                    <div class="munBtnEnter">
                      Enter Contest
                    </div>
                  </li>
                  <li class="clearMargin clearPadding mBtnRight">
                    <div class="munBtnPrizes">
                      View Prizes
                    </div>
                  </li>
                </ul>
              </div>
        </div>
      </div>

    </div>
  </div>

  <!--  Pane 2 - Is go for gold -->
  <div class="row secondRow pane2">
    <div class="angleFun"></div>
    <div class="container">
      <div class="col-lg-12 ">
        <div class="topSplash2 hidden-xs">
            <%= image_tag('judge-paint-splash-2.png', alt:'splash2', class:'tSplash img-responsive') %>
        </div>
        <div class="pageTitle">
          How to enter the contest.
        </div>
          <div class="col-sm-4 col-md-4 pTop">
            <div class="pImage">
              <%= image_tag('step-1-icon-p2.jpg', alt:'contest', class:'img-responsive center') %>
            </div>
            <div class="pContent">
              Create something awesome <br>with a Mini Munny!
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="pImage">
              <%= image_tag('step-2-icon-p2.jpg', alt:'contest', class:'img-responsive center') %>
            </div>
            <div class="pContent">
              Come back here and upload a pic of your  creation to the category you want to enter!
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="pImage">
              <%= image_tag('step-3-icon-p2.jpg', alt:'contest', class:'img-responsive center') %>
            </div>
            <div class="pContent">
              Vote for your favorites <br> by March 20th!
            </div>
          </div>

      </div>
      <div class="p2Splash">
        <%= image_tag('white-drip-p2.png', alt:'contest') %>
      </div>
    </div>

    <div class="angleFunBtm"></div>
  </div>

  <!--  Pane 3 - Is gopher gold -->
  <div class="row pane3">
    <div class="container">
      <div class="col-md-12">
        <div class="p3Gap">
        </div>
        <div class="row">
          <div class="pageContent col-md-12 col-lg-10 col-lg-offset-1">
            <div class="prizeBlock prizeMobBlock col-sm-6 col-md-6 iCenter">
              <div class="prizeImage">
                <%= image_tag('most-votes.png', alt:'contest', class:'mostVotes img-responsive') %>
              </div>
              <div class="prizeTitle">Most Votes</div>
              <div class="prizeDetails">
                    $500  / 1 year of Loot/extension + Looter shirt. <br>
                    Super iam8bit /  Hohokum Almanac / 7” Munny
              </div>
            </div>
            <%= image_tag('judges-pick.png', alt:'contest', class:'judgePick img-responsive') %>
            <div class="prizeBlock col-sm-6 col-md-6 iCenter prizeBlock2">
              <div class="prizeImage">
              </div>
              <div class="prizeTitle">Judges Pick</div>
              <div class="prizeDetails">
                $100 Amazon gift card / 6 mo. of Loot/extension <br>
                Super iam8bit / Hohokum Almanac / 7” Munny
              </div>
            </div>
          </div>
        </div>
        <div class="row clearMargin">
          <div class="prizeList col-md-10 center">
            <!-- <ul class="prList">
              <li class="pList">+ Best Basic    </li>
              <li class="pList">+ Best Kid Design    </li>
                <li class="pList">+ Best Hero / Villain</li>

              <li class="pList">+ Best Fashionable    </li>
              <li class="pList">+ Best Lookalike    </li>
                <li class="pList">+ Best Video Game</li>

              <li class="pList">+ Best Modified    </li>
              <li class="pList">+ Most Resourceful </li>
            </ul> -->
            To check out the prizes for the other categories, click “Enter Competition”
            on the Contest Category of your choice below!

          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Pane 4 - Is go for gold -->
  <div class="row pane4">
    <div class="angleFun"></div>
    <div class="container ">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="topSplash col-xs-12 col-md-12 col-lg-12 center">
            <%= image_tag('judge-paint-splash.png', alt:'splash', class:'tSplash hidden-xs img-responsive center') %>
          </div>
            <div class="judges col-xs-10 col-md-12 col-lg-12 center">
              <%= image_tag('munny-judges.png', alt:'splash', class:'munJudges img-responsive center') %>
            </div>
            <div class="pageTitle">
              The Judges
            </div>
        </div>
      </div>
      <div class="row topJRow">
            <div class="col-sm-3 col-md-3">
              <div class="jLogo" data-judge="Kidrobot">
                <%= image_tag('kidrobot.jpg', alt:'contest', class:'img-responsive center') %>
              </div>
              <div class="jName">
                Kid Robot
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="jLogo" data-judge="iam8bit">
                <%= image_tag('iam8bit.jpg', alt:'contest', class:'img-responsive center') %>
              </div>
              <div class="jName">
                iam8bit
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="jLogo" data-judge="Eve">
                <%= image_tag('eveandtabitha.jpg', alt:'contest', class:'img-responsive center') %>
              </div>
              <div class="jName">
                Eve Beauregard / Tabitha Lyons
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="jLogo" data-judge="IGN">
                <%= image_tag('ign.jpg', alt:'contest', class:'img-responsive center') %>
              </div>
              <div class="jName">
                IGN
              </div>
            </div>
          </div>
      <div class="row">
            <div class="col-sm-3 col-md-3">
              <div class="jLogo" data-judge="Meltdown">
                <%= image_tag('meltdown.jpg', alt:'contest', class:'img-responsive center') %>
              </div>
              <div class="jName">
                Meltdown
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="jLogo" data-judge="Zack">
                <%= image_tag('zackandpeter.jpg', alt:'contest', class:'img-responsive center') %>
              </div>
              <div class="jName">
                Zack Finfrock / Peter Weidman
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="jLogo" data-judge="Nerdist">
                <%= image_tag('nerdist_v02.jpg', alt:'contest', class:'img-responsive center') %>
              </div>
              <div class="jName">
                Nerdist
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="jLogo" data-judge="marissa">
                <%= image_tag('marrisaanddani.jpg', alt:'contest', class:'img-responsive center') %>
              </div>
              <div class="jName">
                Dani Bullis / Marissa Zaenger
              </div>
            </div>
      </div>
    </div>
    <div class="angleFunBtm"></div>
  </div>

  <!--  Pane 5 - Is go for gold -->
  <div class="row pane5">
    <div class="container ">
      <div class="col-md-12">
          <div class="pageTitle">
            <!-- <span class="hideSmall">Contest</span> --> Honorable Mentions
          </div>
        <!--  <div class="pRules">
               Click on the tab for the category you want to enter and click the "enter contest" button there.
               <br><br>
               Don't steal other people's work!
          </div> -->
          <div class="col-sm-11 col-md-11 center">
              <div class="row gleamCats">
                    <!-- <ul class='inline'>
                    <li data-target="Sh4dV" class="gCat">Hero / Villain </li>
                  <li data-target="AmjKS" class="gCat">Most Fashionable </li>
                   <li data-target="eFWW7" class="gCat">Best Modified </li>
                  <li data-target="G6OjR" class="gCat">Best Basic </li>
                  <li data-target="mZlfR" class="gCat">Best Kid Design </li>

                <li data-target="SHrus" class="gCat">Best Lookalike </li>
                  <li data-target="U5Pbw" class="gCat">Best Video Game </li>
                  <li data-target="tVAz3" class="gCat">Most Resourceful</li>
              </ul> -->

            <!-- <div class="col-sm-6 col-md-6 gleamLeft">
                  <ul class="clearMargin">
                  <li class="gCat">Most Votes</li>    <li class="gCat">Judges Picks</li> <br>
                  <li class="gCat">Hero / Villain </li>   <li class="gCat">Best Fashionable</li> <br>
                  <li class="gCat">Best Modified</li>
                  </ul>
                </div>
                <div class="col-sm-6 col-md-6 gleamRight">
                  <ul>
                  <li class="gCat">Most Votes </li>   <li class="gCat">Judges Picks</li> <br>
                  <li class="gCat">Hero / Villain </li>   <li class="gCat">Best Fashionable</li> <br>
                  <li class="gCat">Best Modified</li>
                </ul>
                </div> -->
              </div>
          <!--    <div class="row">
                <div class="col-md-12">
                  <div class="markerText hidden-xs">
                    <%= image_tag('marker_black.png', alt:'contest', class:'markerBg') %>
                    <%= image_tag('munny_over_pen.png', alt:'contest', class:'munnySmallz') %>
                    <div class="mText"> The Munny design that receives the most votes on the contest page.</div>
                  </div>
                </div>

              </div> -->
              <div class="row catBottom">
                <!-- <div data-gallery-embed="bocS1"></div> -->

                <div class="row">
                  <div class="gleamGal" data-gallery-embed='6ITEU' data-header='f'></div>
                <!-- <div data-gallery="Best Basic" class="gleamGal" data-gallery-embed='G6OjR'></div>
                <div data-gallery="Best Kid Design" class="gleamGal" data-gallery-embed='mZlfR'></div>

                <div data-gallery="Best Hero/Villain" class="gleamGal" data-gallery-embed='Sh4dV'></div>

                <div data-gallery="Best Lookalike" class="gleamGal" data-gallery-embed='SHrus'></div>

                <div data-gallery="Most Fashionable" class="gleamGal" data-gallery-embed='AmjKS'></div>

                <div data-gallery="Best Video Game" class="gleamGal" data-gallery-embed='U5Pbw'></div>

                <div data-gallery="Best Modified" class="gleamGal" data-gallery-embed='eFWW7'></div>

                <div data-gallery="Most Resourceful" class="gleamGal" data-gallery-embed='tVAz3'></div> -->

                  </div>

              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row paneSpace">

  </div>
  <!--  Pane 6 - Is go for gold -->
  <div class="row pane6">
    <div class="p6Big">
      <%= image_tag('temp_footer_munny_v02.png', alt:'contest', class:'img-responsive center') %>
    </div>
    <div class="p6BigFg">
      <%= image_tag('temp_footer_munny_fg_v03.png', alt:'contest', class:'img-responsive center') %>
    </div>
    <div class="container ">
      <div class="col-xs-10 center col-sm-10 col-md-12 col-lg-12">

        <div class="row footContent">
          <div class="pageTitle col-sm-10 center" >
            NOT A LOOTER? &nbsp;<a href="http://lootcrate.com" class="subNow">SUBSCRIBE NOW!</a>
          </div>
        </div>
          <div class="row bottomMenu">

              <div class="col-xs-12 col-sm-6 col-md-6 col-xs-offset-0 col-sm-offset-3 col-md-offset-3 theTC">
                <ul class="inline">
                  <li class="bRight">
                    Terms and Conditions
                  </li>
                  <li>
                    Copyright Loot Crate 2015
                  </li>
                 </ul>
                </div>

          </div>

      </div>
    </div>
    <div class="angleFun"></div>
  </div>
</div>
<div class="lBg"></div>
<div class="jBox" >
  <div class="jScroll">
    <div class="jSplat">
      <%= image_tag('close-lbox.png', alt:'close-lbox') %>
    </div>

    <div class="jImage"></div>
    <div class="jTitle"></div>
    <div class="jBio"></div>
  </div>
</div>
<div class="tc">
  <div class="jSplat">
    <%= image_tag('close-lbox.png', alt:'close-lbox') %>
  </div>
  <div class="tcTitle">
        Contest Rules
  </div>

  You must be 13 years of age or older to enter. Entrants under 13 must get permission from a parent or guardian.
  All designs must be on a 3” Mini Munny.
  All entries must be submitted between 2/23/15 and 3/20/15.
  All designs must be submitted to lootcrate.com/munnycontest
  By entering, you agree to grant a perpetual, non-exclusive license to Loot
   Crate to use your design and username for any and all promotional
  activity.
  All winners (except for those in the Most Votes category) will be selected by a panel of judges.
  Winners will be contacted by email. If you win and do not respond within 30 days, your prize is forfeit.
  Winners will be announced on 3/28/15.
  No purchase necessary. **
  Loot Crate&trade; employees and families may not enter.
  <br>
  <br>
  All winners must provide verifiable, visual proof that they are in possession of their submission before any prize can be awarded. “Proof” will be vetted at Loot Crate’s&trade; sole discretion.
  <br>
  <br>
  **A subscription to Loot Crate&trade; is not required for entry. To enter without purchase, <a target="_blank" href="https://d2vgumyqjx047w.cloudfront.net/munny/blank_munny.jpg">download the blank Munny image here</a> to create a design.
</div>