<div class="white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="one"><span><%= t('devise.passwords.lootcrate_membership').html_safe %></span><br></h1>
          <h1 class="two"><%= t('devise.passwords.reset_your_password').upcase %></h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-xs hidden-sm"></div>
      <div class="col-md-6 base">
        <div class="howitworks-header"></div>
        <div class="bottom checkout-left">
         <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'card_form form-vertical', :method => :post, :role => 'form' },) do |f| %>
        <%= f.error_notification %>

      <div class="form-inputs">
        <div class="row">
          <div class="col-md-12">
          <%= f.input :email, :required => true, :autofocus => true %>
          </div>
          <div class="col-md-12">
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t(:reset_password).upcase, :class => "btn btn-select" %>
      </div>
      <% end %>

      <%= link_to t(:login), new_session_path(resource_name)%> | <%= link_to t(:register), new_registration_path(resource_name) %>

        </div>
      </div>
      <div class="col-md-3 hidden-xs hidden-sm"></div>
    </div>
  </div>
</div>