<div class='container'>
  <div class='row'>
    <div clas='col-md-12'>
      <div class='white-bg'>
        <section>
          <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'card_form form-vertical', :method => :put, :role => 'form' }) do |f| %>
            <%= f.error_notification %>
            <%= f.input :reset_password_token, :as => :hidden %>
            <%= f.full_error :reset_password_token %>

            <% if params[:legacy_invite] %>
              <%= hidden_field_tag :legacy_invite, true %>

              <%#= f.simple_fields_for(@looter) do |l| %>
              <%#= l.input :looter_name, :label => "Name on Membership Card", :required => true, :autofocus => true %>
              <%#= l.input :shirt_size, :collection => shirt_sizes, :prompt => "Select your size", :label => "T Shirt Size", :required => true %>
              <%# end %>
            <% end %>

            <div class='row'>
              <div class='col-md-12 center'>
                <div class='form-group align-center'>
                  <h1><%= t('devise.passwords.lootcrate_membership').html_safe %></h1>
                  <h2><%= t('devise.passwords.out_with_the_old') %></h2>
                  <div class="howitworks-header"><%= t('devise.passwords.pick_new_password') %></div>
                </div>
              </div>
            </div>

            <div class='row'>
              <div class='col-md-12 center'>
                <%= f.input :password, :label => t('devise.passwords.new_password'), :required => true, :autofocus => (params[:legacy_invite] ? false : true) %>
              </div>
              <div class='col-md-12 center'>
                <%= f.input :password_confirmation, :label => t('devise.passwords.confirm_new_password'), :required => true %>
              </div>
            </div>

            <div class='row'>
              <div class='col-md-12'>
                <div class='form-group pull-right'>
                  <%= f.button :submit, t(:change_my_password).upcase, :class => "btn btn-secondary" %>
                </div>
              </div>
            </div>

            <div class='row'>
              <div class='col-md-12'>
                <div class='form-group pull-right'>
                  <%= link_to "Login", new_session_path(resource_name)%> | <%= link_to t(:register), new_registration_path(resource_name) %>
                </div>
              </div>
            </div>

          </section>
        <% end %>
      </div>
    </div>
  </div>
</div>