<div class="container">
  <div id="forgot-password">
    <h6><%= t('devise.passwords.forgot_password') %></h6>

    <p><%= t('devise.passwords.enter_your_email') %></p>
    <div class="successPass hide">
      <%= t('devise.passwords.receieve_an_email') %><i class='fa fa-spinner fa-spin'></i>
    </div>

    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form' },) do |f| %>
      <p>
      <%= f.input :email, :required => true, placeholder: t('devise.passwords.email_address'), :autofocus => true, input_html: { class: "#{resource.errors.present? ? 'error' : ''}" }%>
        <%= f.button :submit, t(:reset_password).upcase, :class => "btn btn-secondary passReset" %>
      </p>
    <% end %>
  </div>
</div>

