<div class='white-bg statics'>
  <div class='container'>
    <div class='row'>

      <div class='col-sm-3 side-nav-container'>
        <%= render 'shared/side_nav' %>
      </div>

      <div class='col-sm-9'>
        <h1><%= t('terms_conditions.title') %></h1>

        <%= t('terms_conditions.content').html_safe %>
        <%= t('terms_conditions.use_website').html_safe %>
        <%= t('terms_conditions.registration_membership').html_safe %>
        <%= t('terms_conditions.billing_payments').html_safe %>

        <%= t('terms_conditions.contract.subscription').html_safe %>
        <%= t('terms_conditions.contract.risk_loss').html_safe %>
        <%= t('terms_conditions.contract.copyright').html_safe %>
        <%= t('terms_conditions.contract.trademark').html_safe %>
        <%= t('terms_conditions.contract.user_content').html_safe %>
        <%= t('terms_conditions.contract.warranty_disclaimer').html_safe %>
        <%= t('terms_conditions.contract.limitation_liabibility').html_safe %>

        <%= t('terms_conditions.dispute_resolution.consent').html_safe %>
        <%= t('terms_conditions.dispute_resolution.taxes').html_safe %>
        <%= t('terms_conditions.dispute_resolution.international').html_safe %>
        <%= t('terms_conditions.dispute_resolution.notice').html_safe %>
        <%= t('terms_conditions.dispute_resolution.use_of_site').html_safe %>
        <%= t('terms_conditions.dispute_resolution.indemnification').html_safe %>
        <%= t('terms_conditions.dispute_resolution.privacy').html_safe %>
        <%= t('terms_conditions.dispute_resolution.referer_program').html_safe %>
        <%= t('terms_conditions.official_rules').html_safe %>
      </div> <!-- End -->

    </div>
  </div>
</div>

