
<script>
  var url = 'http://lootcrate.com/amiibo';
  var title = "Loot Crate&trade;";
  function fbs_click(){u=url;t=title;window.open('//www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}
</script>

<div class="white-bg">
  <div class="container base spacer">
    <div class="row">
      <div class="col-md-12 howitworks-header">
        <div class="col-md-12 margin-btm-0"><%= t('payment_completed.thanks_for_signing_up') %></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 align-center">
        <div class="bottom">
          <h2><%= t('payment_completed.share_the_fun') %></h2>
          <div class="align-center">
            <!--<a name="fb_share" type="button_count" rel="nofollow" href="http://www.facebook.com/share.php?u=<;url>" onclick="return fbs_click()" target="_blank" class="facebooksharebutton"></a>-->
            <a href="http://www.facebook.com/share.php?u=<;url>" onclick="return fbs_click()" target="_blank"><%=image_tag("facebook_logo_black_64.png")%></a>
            <a href="https://twitter.com/intent/tweet?text=My%20epic%20%40nintendoamerica%20amiibo%20Crate%20from%20%40lootcrate%20is%20on%20the%20way!%20Want%20to%20join%20me%3F%20Check%20it%20out%3A%20http%3A%2F%2Flootcrate.com%2Famiibo%20%23amiibocrate"><%=image_tag("twitter_logo_black_64.png")%></a>
          </div>
          <h2><%= t('payment_completed.ordering_our_special_edition') %></h2>
          <h2><%= t('payment_completed.any_questions').html_safe %></h2>
        </div>
      </div>
    </div>
  </div>
</div>