<div id='megacrate'>
  <div class='container'>
    <div class='line-header'>
      <div class='line'></div>
      <h4 class='white'><%= t('megacrate_winners.title') %></h4>
    </div>
  </div>

  <div class='container'>
    <div class='row wf-mega-crates'>
      <div class='col-md-12 text-center'>
      <h2><%= t('megacrate_winners.subtitle') %></h2>
      <p><%= t('megacrate_winners.subtext') %></p>
    </div>
    <div class='col-md-12'></div>
  </div>

  <div class='container'>
    <div class='row'>

      <div class='col-sm-4'>
        <%= image_tag('mega-crate-winners/MegaCrate_March2015.jpg', class: 'img-responsive') %>

        <h3><%= t('megacrate_winners.march') %></h3>
        <h4 class='orange'><%= t('megacrate_winners.winners.march.name') %></h4>
        <ul class='unstyled'>
          <li><%= t('megacrate_winners.winners.march.prize') %></li>
        </ul>
      </div>

      <div class='col-sm-4'>
        <%= image_tag('mega-crate-winners/MegaCrate_April2015.jpg', class: 'img-responsive') %>

        <h3><%= t('megacrate_winners.april') %></h3>
        <h4 class='orange'><%= t('megacrate_winners.winners.april.name') %></h4>
        <ul class='unstyled'>
          <li><%= t('megacrate_winners.winners.april.prize') %></li>
        </ul>
      </div>

      <div class='col-sm-4'>
        <%= image_tag('mega-crate-winners/MegaCrate_May2015.jpg', class: 'img-responsive') %>

        <h3><%= t('megacrate_winners.may') %></h3>
        <h4 class='orange'><%= t('megacrate_winners.winners.may.name') %></h4>
        <ul class='unstyled'><%= t('megacrate_winners.winners.may.prize').html_safe %></li>
        </ul>
      </div>
    </div>

  </div>
</div>

