<%= form_for 'new_user', url: user_registration_path, html: { id: 'register-modal-form' } do |f| %>
  <div id='register_step_one'>
    <%= f.email_field :email, id: 'new_user_email_modal', class: 'title modal-join required', tabindex: 1, placeholder: t('modals.register.email_address').upcase %>
    <div class='emessages'></div>
    <%= link_to t(:join), '#', role: "button", class: "btn btn-secondary modal-join-link", id: 'finish_step_one' %>
    <div class='status'></div>
  </div>

  <div id='register_step_two' class='hide'>
    <%= f.password_field :password, id: 'new_user_password_modal', class: 'title modal-join required', tabindex: 3, placeholder: t('modals.register.password').upcase %>
    <div data-hook='signup_below_password_fields'></div>
    <div class='messages'></div>
    <%= f.submit t(:create_account), id: 'create_account_modal', class: 'btn btn-secondary modal-join' %>
  </div>
<% end %>
