<div id="new-customer">
  <div class="createTitle"><%= t(:create_account).upcase %></div>

  <div class="fbLogin" data-hook='login_extras'>
    <div class='social-signin-links'>
      <%= link_to(user_omniauth_authorize_path(:facebook)) do %>
        <button class='fb-login'>
          <%= fa_icon 'facebook', base: 'square', class: 'fb-login-icon' %>
          <%= t('registrations.register.register_with_facebook') %>
        </button>
      <% end %>
    </div>
  </div>

  <div class="newOr">
    OR
  </div>

  <div class="newFormDiv" data-hook="signup">
    <%= form_for 'new_user', :url => user_registration_path, html: { id: 'register-form' } do |f| %>
      <div data-hook="signup_inside_form" class="staticForm">
        <p>
          <%= f.email_field :email, :class => 'title modal-join required dianaTone', :tabindex => 5, :placeholder => t('registrations.register.email_address') %>
        </p>
        <div id="password-credentials">
          <p>
            <%= f.password_field :password, :class => 'title modal-join required dianaTone', :tabindex => 7, :placeholder => t('registrations.register.create_password') %>
          </p>
        </div>

        <div data-hook="signup_below_password_fields"></div>
        <div id="emessage"></div>
        <div id="messages"></div>
        <div id="vmessages"></div>
        <p><%= button_tag t(:create_account).upcase, :class => 'btn btn-secondary modal-join staticSubmit newSubButton', tabindex: 8 %></p>
      </div>
    <% end %>
  </div>

  <div class="newBumper">
    <div class="loginTrigger loginRegister" data-target=".oldFriend">
      <%= t('registrations.register.email_address').upcase %> <span class="goOrange"><%= t(:login).upcase %></span>
    </div>

    <div class="newTerms center">
      <%= t('registrations.register.terms') %>
    </div>
  </div>
</div>
