<div id='register_modal' class='modal fade' tabindex='-1' role='dialog' aria-hidden='true'>
 <div class='modal-dialog'>
    <div class='modal-content'>

      <div class='modal-header'>
        <div class='modal-close' data-dismiss='modal'>
          <i class='fa fa-times'></i>
        </div>
        <div id='header_step_one'>
          <h2><%= t('modals.register.join_looter_comunity') %></h2>
          <p><%= t('modals.register.join_looter_comunity_access') %></p>
        </div>
        <div id='header_step_two' class='hide'>
          <h2><%= t('modals.register.almost_there') %></h2>
          <p><%= t('modals.register.start_profile') %></p>
        </div>
      </div>

      <div class='modal-body' id='register-customer' data-hook='register'>
        <div class="modal-messages hide">
          <p class="modal-error"></p>
        </div>
        <%= render 'shared/register_modal_form' %>
      </div>

      <div class='modal-footer modal-back'>
        <p class='hide'><%= link_to t('modals.register.back').html_safe, '#', id: 'back' %> &nbsp;&nbsp;</p>
        <p><%= t('modals.register.already_a_looter') %>&nbsp;<%= link_to t(:login), '#', 'data-target' => '#signin_modal', 'data-toggle' => 'modal', 'data-dismiss' => 'modal' %></p>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
