<div class='white-bg'>
  <div class='container base spacer'>

    <div id='edit_account_info_modal'>

      <div class='row'>
        <div class='col-md-12'>
          <h3>EDIT SHIPPING INFO</h3>
        </div>
      </div>

      <div class='row'>
          <div class='col-md-12 edit-container' id='edit-container' data-editable="<%= current_unit_editable?(subscription.latest_period)%>" data-fieldname="Shipping Address" data-month="<%= Subscription::CrateDateCalculator.current_crate_month %>" data-nextmonth="<%= Subscription::CrateDateCalculator.next_crate_month %>">

          <%= simple_form_for(shipping_address, :html => {:class => 'card_form form-vertical form-validate', :role => 'form' }) do |f| %>
            <%= hidden_field_tag :subscription_id, subscription.id  %>
            <%= f.error_notification %>

            <div class='form-inputs'>

              <div class='row'>
                <div class='col-md-12'>
                  <%= f.input :line_1, :label => 'Shipping Address 1' %>
                  <%= f.input :line_2, :label => 'Shipping Address 2' %>

                  <div class='col-md-12 no-space'>
                    <div class='col-md-6 no-space'>
                      <%= f.input :city, :label => 'Shipping City' %>
                    </div>
                    <div class='col-md-3'>
                      <%= f.input :zip, :label => 'Zip Code' %>
                    </div>
                    <div class='col-md-3'>
                      <%= f.input :state, :collection => state_options(shipping_address.country), :prompt => 'PLEASE SELECT', :label => 'Shipping State' %>
                    </div>
                  </div>

                  <%= f.input :country, as: :country, collection: country_options, priority: %w(US CA), prompt: 'PLEASE SELECT', class: 'country_selector', label: 'Shipping Country' %>
              </div>
            </div>

            <div class='form-actions'>
              <div class='col-md-8 back'>
                <%= link_to 'Back', :back %>
              </div>

              <div class='col-md-4'>
                <%= f.button :submit, 'Update', :class => 'btn btn-secondary btn-utag',
                  'data-utag-user' => "#{current_user.id}",
                  'data-utag-email' => "#{current_user.email}",
                  'data-utag-event' => 'user_update'
                %>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <div class='col-md-3 hidden-xs'></div>
    </div>

  </div>
</div>

<%= render partial: 'shared/shipped_alert_modal' %>

