<ul class='unstyled side-nav' role="navigation">

  <li class="<%= current_link_class('about_us') %>">
    <%= link_to t('navigation.side_nav.about_us'), main_app.about_us_path %>
  </li>

  <li class="<%= current_link_class('help_center') %>">
    <%= link_to t('navigation.side_nav.help_center'), 'https://help.lootcrate.com' %>
  </li>

  <li class="<%= current_link_class('privacy_policy') %>">
    <%= link_to t('navigation.side_nav.privacy_policy'), main_app.privacy_policy_path %>
  </li>

  <li class="<%= current_link_class('terms_conditions') %>">
    <%= link_to t('navigation.side_nav.terms'), main_app.terms_conditions_path %>
  </li>

  <li class="<%= current_link_class('contact') %>">
    <%= link_to t('navigation.side_nav.contact'), main_app.contact_path %>
  </li>

</ul>