<div class='container top'>
  <div class='row'>
    <div class='col-md-12'>
      <div id='past-crates-title' >
        <h1><%= t('past_crates.title') %></h1>
        <h2 class='hidden-xs'><%= t('past_crates.subtitle') %></h2>
      </div>
    </div>
  </div>
</div>

<div class='crate-container may2015'>
  <div class='container crate-container'>
    <img class='img-responsive image-fg' src='<%= image_path('past-crates/optimizely/may2015-fg.png') %>'>
    <div class='container past-crate-title'>
      <h3>MAY CRATE<br>THEME: UNITE</h3>
    </div>
    <div class='join-cta'>
      <p>Don't miss out on the next crates!</p>
      <a class='btn btn-secondary' role='button' href='/subscriptions'>JOIN NOW!</a>
    </div>
  </div>
</div>

<div class='crate-container april2015'>
  <div class='container crate-container'>
    <img class='img-responsive image-fg' src='<%= image_path('past-crates/optimizely/april2015-fg.png') %>'>
    <div class='container past-crate-title'>
      <h3><%= t('past_crates.crate_theme.april').html_safe %></h3>
    </div>
    <div class='join-cta'>
      <p><%= t('past_crates.dont_miss_out') %></p>
      <a class='btn btn-secondary' role='button' href='/subscriptions'><%= t('past_crates.join_now') %></a>
    </div>
  </div>
</div>

<div class='crate-container mar2015'>
  <div class='container crate-container'>
    <img class='img-responsive image-fg' src='<%= image_path('past-crates/optimizely/mar2015-fg.png') %>'>
    <div class='container past-crate-title'>
      <h3><%= t('past_crates.crate_theme.march').html_safe %></h3>
    </div>
    <div class='join-cta'>
      <p><%= t('past_crates.dont_miss_out') %></p>
      <a class='btn btn-secondary' role='button' href='/subscriptions'><%= t('past_crates.join_now') %></a>
    </div>
  </div>
</div>
<div class='crate-container feb2015'>
  <div class='container crate-container'>
    <img class='img-responsive image-fg ' src='<%= image_path('past-crates/optimizely/feb2015-fg.png') %>'>
    <div class='container past-crate-title'>
      <h3><%= t('past_crates.crate_theme.february').html_safe %></h3>
    </div>
    <div class='join-cta'>
      <p><%= t('past_crates.dont_miss_out') %></p>
      <a class='btn btn-secondary' role='button' href='/subscriptions'><%= t('past_crates.join_now') %></a>
    </div>
  </div>
</div>
<div class='crate-container jan2015'>
  <div class='container crate-container'>
    <img class='img-responsive image-fg' src='<%= image_path('past-crates/optimizely/jan2015-fg.png') %>'>
    <div class='container past-crate-title'>
      <h3><%= t('past_crates.crate_theme.january').html_safe %></h3>
    </div>
    <div class='join-cta'>
      <p><%= t('past_crates.dont_miss_out') %></p>
      <a class='btn btn-secondary' role='button' href='/subscriptions'><%= t('past_crates.join_now') %></a>
    </div>
  </div>
</div>
<div class='crate-container dec2014'>
  <div class='container crate-container'>
    <img class='img-responsive image-fg' src='<%= image_path('past-crates/optimizely/december-fg.png') %>'>
    <div class='container past-crate-title'>
      <h3><%= t('past_crates.crate_theme.december').html_safe %></h3>
    </div>
    <div class='join-cta'>
      <p><%= t('past_crates.dont_miss_out') %></p>
      <a class='btn btn-secondary' role='button' href='/subscriptions'><%= t('past_crates.join_now') %></a>
    </div>
  </div>
</div>
<div class='crate-container nov2014'>
  <div class='container crate-container'>
    <img class='img-responsive image-fg' src='<%= image_path('past-crates/optimizely/november-fg.png') %>'>
    <div class='container past-crate-title'>
      <h3><%= t('past_crates.crate_theme.november').html_safe %></h3>
    </div>
    <div class='join-cta'>
      <p><%= t('past_crates.dont_miss_out') %></p>
      <a class='btn btn-secondary' role='button' href='/subscriptions'><%= t('past_crates.join_now') %></a>
    </div>
  </div>
</div>
<div class='crate-container oct2014'>
  <div class='container crate-container'>
    <img class='img-responsive image-fg' src='https://s3-us-west-2.amazonaws.com/lootcrate-optimizely/optimizely/past-crates/october-fg-2.png'>
    <div class='container past-crate-title'>
      <h3><%= t('past_crates.crate_theme.october').html_safe %></h3>
    </div>
    <div class='join-cta'>
      <p><%= t('past_crates.dont_miss_out') %></p>
      <a class='btn btn-secondary' role='button' href='/subscriptions'><%= t('past_crates.join_now') %></a>
    </div>
  </div>
</div>
<div class='crate-container sept2014'>
  <div class='container crate-container'>
    <img class='img-responsive image-fg' src='<%= image_path('past-crates/optimizely/september-fg.png') %>'>
    <div class='container past-crate-title'>
      <h3><%= t('past_crates.crate_theme.september').html_safe %></h3>
    </div>
    <div class='join-cta'>
      <p><%= t('past_crates.dont_miss_out') %></p>
      <a class='btn btn-secondary' role='button' href='/subscriptions'><%= t('past_crates.join_now') %></a>
    </div>
  </div>
</div>
<div class='crate-container aug2014'>
  <div class='container crate-container'>
    <img class='img-responsive image-fg' src='https://s3-us-west-2.amazonaws.com/lootcrate-optimizely/optimizely/past-crates/august-fg-2.png'>
    <div class='container past-crate-title'>
      <h3><%= t('past_crates.crate_theme.august').html_safe %></h3>
    </div>
    <div class='join-cta'>
      <p><%= t('past_crates.dont_miss_out') %></p>
      <a class='btn btn-secondary' role='button' href='/subscriptions'><%= t('past_crates.join_now') %></a>
    </div>
  </div>
</div>
<div class='crate-container july2014'>
  <div class='container crate-container'>
    <img class='img-responsive image-fg' src='https://s3-us-west-2.amazonaws.com/lootcrate-optimizely/optimizely/past-crates/july-fg-2.png'>
    <div class='container past-crate-title'>
      <h3><%= t('past_crates.crate_theme.july').html_safe %></h3>
    </div>
    <div class='join-cta'>
      <p><%= t('past_crates.dont_miss_out') %></p>
      <a class='btn btn-secondary' role='button' href='/subscriptions'><%= t('past_crates.join_now') %></a>
    </div>
  </div>
</div>
