<div class='container'>
  <div class='row'>
    <div class='col-sm-4 clock-container'>
      <p><%= t('welcome.timer.main_text') %></p>
      <div id='countdown-clock'>
        <div class='clock-block'>
          <span id='dday'></span>
          <span><%= t('welcome.timer.days') %></span>
        </div>
        <div class='clock-block'>
          <span id='dhour'></span>
          <span><%= t('welcome.timer.hours') %></span>
        </div>
        <div class='clock-block'>
          <span id='dmin'></span>
          <span><%= t('welcome.timer.minutes') %></span>
        </div>
      </div>
    </div>
    <div class='col-sm-8 theme-container'>
      <div class='theme-content'>
        <div class='row'>
          <div class='col-sm-4 theme-image'>
            <%= link_to (image_tag 'themeart_july_small.jpg', alt: 'Heroes 2', size: '220x220'), redirect_countdown %>
          </div>
          <div class='arrow-left'></div>
          <div class='col-sm-8 theme-text'>
            <p id='countdown-header-text'></p>
            <p id='countdown-main-text'></p>
            <p id='countdown-sub-text'></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
