<div id="main-banner-carousel" class="main-banner carousel slide" data-interval="9000">

  <div class="carousel-inner hidden-xs">
    <!-- Slide Content item 1-->
    <div class="item active main-banner-bg">
      <div class="item-content container">
        <div class="main-banner-textbox ">
          <h1 class="uppcase"><%= t('welcome.mainbanner.title').html_safe %></h1>
          <div class="slider-body">
            <p class="margin-0"><%= t('welcome.mainbanner.subtitle1').html_safe %></p>
            <p class="margin-0"><%= t('welcome.mainbanner.subtitle2') %></p>
            <p><%= t('welcome.mainbanner.subtitle3').html_safe %></p>
          </div>
            <p class="pricing">
              <%= t('welcome.mainbanner.total', total: number_to_currency(t('welcome.mainbanner.price'), locale: I18n.locale)).html_safe %>
              <span class="pricing-text"><%= show_pricing_info_text_for(@one_month_plan) %></span>
            </p>
          <% unless (GlobalConstants::SOLDOUT) %>
            <%= link_to(t(:subscribe), '/subscriptions', class: 'btn btn-primary btn-large btn-subscribe', role: 'button') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="black-bg visible-xs">
  <div class="container" >
    <div class="hero-unit">
      <div class="row">
        <div class="col-sm-6">
          <%= image_tag("main-alt2-mobile.jpg", class: "banner-image img-responsive", alt: "banner image") %>
        </div>

        <div class="col-sm-6">
          <div class="textbox-phone">
            <h1 class="banner-join">
              <%= t('welcome.mainbanner.join') %>
            </h1>
            <% if (GlobalConstants::SOLDOUT) %>
              <p><a href="/sold_out" role="button" class="btn btn-secondary"><%= t('welcome.mainbanner.join_now') %></a></p>
            <% else %>
              <p><a href="/join" role="button" class="btn btn-primary btn-large"><%= t('welcome.mainbanner.join_now') %></a></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
