<div class="mainrow">
  <h1>WHAT'S INSIDE?</h1>
  <h2>PAST LOOT CRATES&trade;</h2>

  <div class="pastlootmain">

    <div class="pastlootcrateouterleft">
      <div class="pastlootcrate" style="background-image:url('<%= image_path("crate_201305.jpg") %>');"> <!-- leftside -->
        <div class="pastlootcratelabelwrap">
          <div class="pastlootcratelabelwraptext">
            <h3>MAY 2013 "EQUIP"</h3>
          </div>
        </div>
        <div class="pastlootcratetext">
          <ul>
            <li>One Year Digital Subscription - Pure Nintendo</li>
            <li>8 Bit Bow Tie - Black Tie Geek</li>
            <li>Don't Panic Towel - GraphicLab</li>
            <li>Ninja Cord Wrap - The Dojo</li>
            <li>Super Mario Coin Candies - Boston America</li>
            <li>Inanimate Stickers - Fred &amp; Friends</li>
            <li>Papercraft Ironman - Gus Santome of MINIPAPERCRAFT.BLOGSPOT.COM</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="pastlootcrateouterright">
      <div class="pastlootcrate" style="background-image:url('<%= image_path("crate_201304.jpg") %>');"> <!-- leftside -->
        <div class="pastlootcratelabelwrap">
          <div class="pastlootcratelabelwraptext">
            <h3>APRIL 2013 "TOKEN"</h3>
          </div>
        </div>
        <div class="pastlootcratetext">
          <ul>
            <li>Street Fighter Mini Series Blind Box - Kid Robot + Capcom</li>
            <li>Street Fighter Enamel Keychain Blind Bag - Kid Robot + Capcom</li>
            <li>8BZ Arcade Token - 8-Bit Zombie</li>
            <li>Retro Game Candy - Candy Warehouse</li>
            <li>Collectible Mushroom Kingdom Racing Cinch Pack - GraphicLab</li>
            <li>Space Invaders Candy with Collectible Tin - Boston America + Taito</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="pastlootcrateouterleft">
      <div class="pastlootcrate" style="background-image:url('<%= image_path("crate_201303.jpg") %>');">
        <div class="pastlootcratelabelwrap">
          <div class="pastlootcratelabelwraptext">
            <h3>MARCH 2013 "COSMOS"</h3>
          </div>
        </div>
        <div class="pastlootcratetext">
          <ul>
            <li>Star Wars Pop! Vinyl Bobble Head - Funko + Lucasfilm</li>
            <li>Hexbug Nano Micro Robot - First Innovation</li>
            <li>Dead Space 3 Wall Graphic - Walls360 + EA</li>
            <li>Secret Code Wristband - Loot Crate Labs&trade;</li>
            <li>Live Long and Prosper Button - Loot Crate Labs&trade;</li>
            <li>The Art of Star Wars Comics: Collectible Postcards - Chronicle Books</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="pastlootcrateouterright">
      <div class="pastlootcrate" style="background-image:url('<%= image_path("crate_201302.jpg") %>');"> <!-- leftside -->
        <div class="pastlootcratelabelwrap">
          <div class="pastlootcratelabelwraptext">
            <h3>FEBRUARY 2013 "DOCTOR"</h3>
          </div>
        </div>
        <div class="pastlootcratetext">
          <ul>
            <li>TARDIS Prime Shirt - GraphicLab</li>
            <li>Mega Man Air Freshener - Epic Scents</li>
            <li>Caffeinated Brain Bits - Harcos Labs</li>
            <li>Sharks Drink Cooler - Loot Crate Labs&trade;</li>
            <li>Bacon Lip Balm - J&D</li>
            <li>Tetris Wall Heart - Walls360</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="pastlootcrateouterleft">
      <div class="pastlootcrate" style="background-image:url('<%= image_path("crate_201301.jpg") %>');">
        <div class="pastlootcratelabelwrap">
          <div class="pastlootcratelabelwraptext">
            <h3>JANUARY 2013 "EXCELSIOR"</h3>
          </div>
        </div>
        <div class="pastlootcratetext">
          <ul>
            <li>Marvel Workman's Carry All - Marvel</li>
            <li>Translucent 7 Dice RPG Set - AwesomeDice.com + Chessex</li>
            <li>8-Bit Zombie Sticker Set - 8BitZombie.com</li>
            <li>8-Bit Zombie Retro Buttons - 8BitZombie.com</li>
            <li>8-Bit Zombie Trading Cards - 8BitZombie.com</li>
            <li>Hello Panda Chocolate Deliciousness - Meiji</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="pastlootcrateouterright">
      <div class="pastlootcrate" style="background-image:url('<%= image_path("crate_201212.png") %>');"> <!-- leftside -->
        <div class="pastlootcratelabelwrap">
          <div class="pastlootcratelabelwraptext">
            <h3>DECEMBER 2012 "KYUJITSU"</h3>
          </div>
        </div>
        <div class="pastlootcratetext">
          <ul>
            <li>Nerdy or Super Hero Domo Plush - NHK Japan</li>
            <li>Honey Badger Don't Care Plush - Randall's Honey Badger</li>
            <li>Holiday Doodle Jump - Walls 360 + Lima Sky</li>
            <li>It's 13:37 Somewhere Bev Tool - Loot Crate Labs&trade;</li>
            <li>Geek/Gamer Split Personality Wristband</li>
            <li>Atari Collectible Joystick with Gum - Atari + Boston America</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="clear"></div>
  </div>
</div>
