<div class="col-lg-3 col-sm-6 subscription" id="product_<%= plan.id %>">
  <div class="subscription-plan-box base<% if plan.period == 12 %> lYear <% end%>">
    <div class="plan-header term">
      <%= t("plan.#{plan.period.humanize}_months").upcase %>
    </div>

    <div class="plan-details">
      <%= image_tag(plan.image_file, size: '400x267', class: 'img-responsive') %>
        <!-- <span class='term'><%#= plan.readable_title %></span> -->
        <!-- <span class="subheight"></span> -->

      <% if plan.period == 12 %>
        <div class="giftZone">
          <div class="theShirt shirtCtrl">
            <%#= image_tag("l_shirt_v01.jpg") %>
          </div>
        </div>
      <% end %>
    </div>

    <% if plan.period == 12 %>
      <div class="flagBar fullFlag">
        <div class="fSheen sheen"></div>
        <div class="flagContent">
          <ul class="inline clearMargin">
            <li class="fGift"><i class="fa fa-gift"></i></li>
            <li class="fTitle"><%= t('welcome.plan_box.includes_bonus_gift') %></li>
          </ul>
        </div>
        <div class="lNotch"></div>
        <div class="rNotch"></div>
      </div>
    <% end %>

    <ul class="subscriptions">
      <li>
        <%= number_to_currency(plan.monthly_cost, locale: :en) %>
        <span class="per-month"/><%= show_pricing_info_text_for(plan) %></span>
      </li>
      <li>Total Price: <%= number_to_currency(plan.cost, locale: :en) %></li>
      <li>recurring <%= plan.readable_title %></li>
      <li><%= plan.savings_copy %></li>
    </ul>

    <div class="errorZone"></div>
    <%= link_to t(:select), new_checkout_path(plan: plan.name), class: 'btn btn-secondary select-plan', id: plan.css_link_id, role: 'button' %>
  </div>

  <% if international? %>
    <ul class="local-currency">
      <li>
        <%= t("welcome.plan_box.plans.price", price: number_to_currency(t("welcome.plan_box.plans.#{plan.period.humanize}_month.price"), locale: I18n.locale)).html_safe %>
        <span class="per-month"> /mo</span>
      </li>
      <li>
        <%= t('welcome.plan_box.total_price') %>
        <%= number_to_currency(t("welcome.plan_box.plans.#{plan.period.humanize}_month.total"), locale: I18n.locale) %>
      </li>
    </ul>
  <% end %>

  <div class="learnmore">
    <a class="learn-more-link" data-toggle="modal" href="#learnmore_modal_<%= plan.id %>" id='plan_learnmore_<%= plan.id %>'>
      <i class="glyphicon glyphicon-info-sign"></i>
    </a>
  </div>
</div>

<%= render partial: 'welcome/learnmore_modal', locals: {plan: plan} %>
<!-- <% if plan.period == 3 %><div class="visible-tablet tree-month-tablet"></div><% end %> -->
