<!-- START Press Bar -->
<div class="white-bg hidden-xs">
	<div class="container">

		<div class="row">
			<div class="col-md-1 hidden-xs"></div>
			<div class="col-md-10">
				<div id="mainContent">
					<div id="contentWrap">
						<div id="awesomer-quote">
							<p><%= t('welcome.press.awesomer_quote') %></p>
						</div>
						<div id="readwrite-quote">
							<p><%= t('welcome.press.readwrite_quote') %></p>
						</div>
						<div id="geek-quote">
							<p><%= t('welcome.press.geek_quote') %></p>
						</div>
						<div id="curse-quote">
							<p><%= t('welcome.press.curse_quote') %></p>
						</div>
						<div id="wired-quote">
							<p><%= t('welcome.press.wired_quote') %></p>
						</div>
						<div id="mtvgeek-quote">
							<p><%= t('welcome.press.mtvgeek_quote') %></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1 hidden-xs"></div>
		</div>

		<div class="row">
			<div id="thumbs">
				<div class="pressIcons span">
					<div id="awesomer" class="press-bar-logo"></div>
				</div>
				<div class="pressIcons span">
						<div id="readwrite" class="press-bar-logo"></div>
				</div>
				<div class="pressIcons span">
					<div id="geek" class="press-bar-logo"></div>
				</div>
				<div class="pressIcons span">
					<div id="curse" class="press-bar-logo"></div>
				</div>
				<div class="pressIcons span">
					<div id="wired" class="press-bar-logo"></div>
				</div>
				<div class="pressIcons span">
					<div id="mtvgeek" class="press-bar-logo"></div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- END Press Bar -->
