<% cache("welcome_index_#{cookies[:country]}", expires_in: 1.hour) do %>
  <%= render "welcome/mainbanner" %>

  <div id='monthly-theme-timer'>
    <%=
      if (GlobalConstants::THEMEREVEAL && !GlobalConstants::SHOWCOUNTDOWN)
        render "welcome/themereveal"
      elsif (!GlobalConstants::THEMEREVEAL && GlobalConstants::SHOWCOUNTDOWN)
        render "welcome/countodowntimer"
      end
    %>
  </div>

  <div data-hook='homepage_subscriptions'>
    <%= render "welcome/chooseyourplan" %>
  </div>

  <div data-hook="press_partial">
    <%= render "shared/press" %>
  </div>

  <%= javascript_tag do %>
  window.soldout = <%= is_soldout %>;
  window.showTimer = <%= show_countdown_timer %>;
  <% end %>

  <%= render "shared/wf_newsletter_modal" %>
  <%= render "shared/newsletter_signup_result_modal" %>
  <%= render "shared/analytics/twitter_pixel" %>
<% end %>
