<div class="howitworks">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4><%= t('level_up.how_it_works.heading') %></h4>
      </div>
      <div class="col-xs-12">
        <div class='embed-container'>
          <iframe src='https://www.youtube.com/embed/cpprpjNPg10' frameborder='0' allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-xs-4 hiw cr-animate-gen" data-gen="fadeInUp" data-gen-offset="bottom-in-view" data-gen-delay="60ms">
        <%= image_tag('levelup/lvl-hiw-step1.png', class: 'img-responsive') %>
        <div class="hiwTitle"><%= t('level_up.how_it_works.subheading1') %></div>
        <ul>
          <li><%= t('level_up.how_it_works.description1') %></li>
        </ul>
      </div>
      <div class="col-xs-4 hiw cr-animate-gen" data-gen="fadeInUp" data-gen-offset="bottom-in-view" data-gen-delay="260ms">
        <%= image_tag('levelup/lvl-hiw-step2.png', class: 'img-responsive') %>
        <div class="hiwTitle"><%= t('level_up.how_it_works.subheading2') %></div>
        <ul>
          <li><%= t('level_up.how_it_works.description2') %></li>
        </ul>
      </div>
      <div class="col-xs-4 hiw cr-animate-gen" data-gen="fadeInUp" data-gen-offset="bottom-in-view" data-gen-delay="460ms">
        <%= image_tag('levelup/lvl-hiw-step3.png', class: 'img-responsive') %>
        <div class="hiwTitle"><%= t('level_up.how_it_works.subheading3') %></div>
        <ul>
          <li><%= t('level_up.how_it_works.description3') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>