<section id="slide-1" class="homeSlide">
  <div class="lvlbg"> 
    <div class="lvlContainer">
      <div class="lvlContent">
        <div class="lvlLogo cr-animate-gen" data-gen="fadeInUpBig" data-gen-offset="bottom-in-view" data-gen-delay="30ms"><img src="<%= image_path("levelup/lvl-logo.png") %>" class="img-responsive" /></div>
        <div class="lvlSubhead"><%= t('level_up.theme.subhead') %></div>
        <div class="lvlAction"><%= t('level_up.theme.action') %></div>
        <div class="lvlInfo"><%= t('level_up.theme.info') %> <br /><%= t('level_up.theme.theme') %></div>
        <div class="lvlIcons"><%= image_tag('levelup/lvl-icons.png', class: 'img-responsive') %></div>
        <!-- <div class="lvlBeta">BETA <span class="showMsg">i</span>
          <div class="lvlBetaMsg">This is a special trial program with limited quantities for existing Looters only!</div>
        </div> -->
        <div class="scroll-to-lvl-plan"><a class="btn btn-level_up" href="#">Select Plan</a></div>
      </div>
    </div>
  </div>
</section>