<div class="lvlContainer">
  <div class="lvlActiveRequired">
    <div class="lvlActiveRequiredContent">

      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="lvlLogo"><img src="<%= image_path("levelup/lvl-logo.png") %>" class="img-responsive" /></div>
            <div class="lvlAction"><%= t('level_up.theme.action') %></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            
            <h3><%= t('level_up.non_active.headline').html_safe %></h3>
            <%= t('level_up.non_active.non_active_content').html_safe %>
          </div>
          <div class="col-sm-6">
            <% if current_user %>
            <h4>Get a crate to Level Up!</h4>
            <p>An active crate subscription is required in order to see the Level Up packages.  <%= link_to "Get One Now", '/subscriptions', class: 'btn-subscribe', role: 'button' %></p>
            <% else %>
            <div id="existing-customer-container" class="center">
              <div data-hook="login" class="login-form center">
                <%= render :partial => 'shared/login_form' %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>