<% if current_user && current_user.is_active? %>
  <div class='level_up-content'>
    <%= render 'level_up/level_up_theme' %>
    <div data-hook='levelup_notice'>
      <%= render 'level_up/notice' %>
    </div>
    <div data-hook='levelup_subscriptions'>
      <%= render 'level_up/plans/chooseyourplan', {products: @products} %>
    </div>
    <div data-hook='lvl_howitworks'>
      <%= render 'level_up/howitworks' %>
    </div>
    <%= javascript_tag do %>
    window.soldout = <%= is_soldout %>;
    window.showTimer = <%= show_countdown_timer %>;
    <% end %>
  </div>
<% else %>
  <div class='level_up-content'>
    <div data-hook='levelup_active_required'>
      <%= render 'level_up/level_up_active_subscription_required' %>
    </div>
  </div>
<% end %>
