  <div class="container">
    <div class="row referathonPrizes">
      <div class="col-xs-12">
        <div class="referPrize col-sm-4 clearMargin">
          <div class="row clearMargin">
            <%= image_tag("1st-place.jpg", class:'referImage img-responsive', alt: "referathon-First-Prize") %>
          </div>
          <div class="row clearMargin referText">
            <div class="col-xs-12 center"><i></i>
              <%= t('friend_share.first_prize').html_safe %>
            </div>
          </div>
        </div>
        <div class="referPrize col-sm-4 clearMargin">
          <div class="row clearMargin">
            <%= image_tag("2nd-place.jpg", class:'referImage img-responsive', alt: "referathon-Second-Prize") %>
          </div>
          <div class="row clearMargin referText">
            <div class="col-xs-12 center">
              <%= t('friend_share.second_prize') %>
            </div>
          </div>
         </div>
        <div class="referPrize col-sm-4 clearMargin">
          <div class="row clearMargin">
            <%= image_tag("3rd-place.jpg", class:'referImage img-responsive', alt: "referathon-Third-Prize") %>
          </div>
          <div class="row clearMargin referText">
            <div class="col-xs-12 center">
              <%= t('friend_share.third_prize') %>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="row termsLink">
      <div class="col-xs-12">
        <a target="_blank" href="//www.lootcrate.com/terms_conditions"><%= t('friend_share.terms_and_conditions') %></a>
      </div>
    </div>

  </div>
