<div class="gray-bg">
  <div class="container">
    <div class="line-header">
      <div class="line"></div>
      <h4 class="gray"><%= t('community.title') %></h4>
    </div>
  </div>
  <div class="container social-container">
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <a href="http://twitter.com/lootcrate">
          <div class="social-line">
            <div class="social-icon">
              <%= image_tag('twitter.png', alt: 'Twitter', width: '100%', class: 'img-responsive') %>
            </div>
            <div class="social-text"><%= t('community.twitter') %></div>
            <p><%= t('community.twitter_content') %></p>
          </div>
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a href="http://instagram.com/lootcrate">
          <div class="social-line">
            <div class="social-icon">
              <%= image_tag('instagram.png', alt: 'Instagram', width: '100%', class: 'img-responsive') %>
            </div>
            <div class="social-text"><%= t('community.instagram') %></div>
            <p><%= t('community.instagram_content') %></p>
          </div>
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a href="http://facebook.com/lootcrate">
          <div class="social-line">
            <div class="social-icon">
              <%= image_tag('facebook.png', alt: 'Facebook', width: '100%', class: 'img-responsive') %>
            </div>
            <div class="social-text"><%= t('community.facebook') %></div>
            <p><%= t('community.facebook_content').html_safe %></p>
          </div>
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a href="http://lootcrate.tumblr.com/">
          <div class="social-line">
            <div class="social-icon">
              <%= image_tag('tumblr.png', alt: 'Tumblr', width: '100%', class: 'img-responsive') %>
            </div>
            <div class="social-text"><%= t('community.tumblr') %></div>
            <p><%= t('community.tumblr_content') %></p>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="gray-bg">
          <div data-gallery-embed='LeZAV'></div>
        </div>
      </div>
      <script src="//js.gleam.io/oi-Pwkj55u.js" async="async"></script>
    </div>
  </div>
</div>
