<%= form_for @promotion, url: create_or_update_admin_promotion_path(@promotion), html: { class: 'admin-promo-form' } do |f| %>
  <div class="row padding-btm">
    <div class="col-md-6"><label>DETAILS</label></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="label-primary">NAME:</label>
        <% if @promotion.persisted? %>
          <%= @promotion.name %>
        <% else %>
          <%= f.text_field :name, :required => true, class: 'form-control', autofocus: true %>
        <% end %>
      </div>
      <div class="form-group">
        <% if @promotion.persisted? %>
          <label class="label-primary">ONE TIME USE:</label>
          <%= f.hidden_field :one_time_use %>
          <%= @promotion.one_time_use %>
        <% else %>
          <div class="checkbox">
            <label class="label-primary">
              <%= f.check_box :one_time_use %> ONE TIME USE
            </label>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <label class="label-primary">DESCRIPTION</label>
          <%= f.text_area :description, :required => true, :placeholder => "Enter Description", class: 'form-control', rows: 8 %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="label-primary">START DATE:</label>
              <%= f.text_field :starts_at, :required => true, class: 'form-control datepicker' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="label-primary">END DATE:</label>
              <%= f.text_field :ends_at, class: 'form-control datepicker' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="label-primary">TRIGGER EVENT</label>
            <%= f.select :trigger_event, Promotion::TRIGGER_EVENTS, {selected: @promotion.trigger_event.try(:split, ' ')}, multiple: true, required: true %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label class="label-primary">
          COUPON
          <span class="single-use">PREFIX</span>
          <span class="multi-use">CODE</span>
        </label>
        <% if @promotion.persisted? %>
          <%= @promotion.coupon_prefix %>
          <%= f.hidden_field :coupon_prefix %>
        <% else %>
          <%= f.text_field :coupon_prefix, class: 'form-control' %>
          <span class='help-block'>a-z, 0-9, dash ' - ' , underscore ' _ ' , and plus ' + '</span>
        <% end %>
      </div>

      <div class="form-group multi-use">
        <label class="label-primary">CONVERSION LIMIT:</label>
          <%= f.text_field :conversion_limit, class: 'form-control' %>
      </div>
      <div class="form-group single-use">
        <label class="label-primary">CHAR LENGTH:</label>
        <%= text_field_tag 'char_length', '', type: 'number', class: 'form-control' %>
      </div>
      <div class="form-group single-use">
        <label class="label-primary">CODE QTY:</label>
        <%= text_field_tag 'quantity', '', type: 'number', min: '0', class: 'form-control' %>
      </div>
      <div class="form-group single-use">
        <label class="label-primary">RECIPIENTS:<br>
        <small>Comma-separated list of email addresses</small>
        </label>
        <%= text_field_tag 'recipients', "#{current_admin_user.email}", type: 'text', class: 'form-control' %>
      </div>
      <div class="form-group single-use">
        <label class="label-primary">CODES</label>
        <%= text_area_tag :all_codes, promotion_coupon_codes, readonly: true, class: 'form-control', rows: 5 %>
      </div>
    </div>
  </div>

  <div class="row padding-top">
    <div class="col-md-6">
      <label>RULES</label>
    </div>
    <div class="col-md-6">
      <label>ACTIONS</label>
    </div>
  </div>

  <div class="row">
    <!-- change to col-md-3 when product families is implemented -->
    <!-- <div class="col-md-3"> -->
    <div class="col-md-6">
      <span class="label label-info margin-btm5">Product Regions</span>
      <div class="well well-small">
        <div class="checkbox">
          <label>
            <input type="checkbox" class="optionsProductsAll" id="select_all" value="Select All Products"> All Products
          </label>
        </div>
        <hr class="border" />
        <div class="checkbox">
          <label>
            <input type="checkbox" class="optionsProducts" id="select_domestic" value="Select Domestic Products"> Domestic Products
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" class="optionsProducts" id="select_international" value="Select International Products"> International Products
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" class="optionsProducts" id="select_canada" value="Select Canadian Products"> Canadian Products
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row padding-btm">
    <div class="col-md-6">
      <div class="panel panel-info product-selector clonedProduct" id="clonedProduct0">
        <div class="panel-heading">
          <h3 class="panel-title">Product <span>Order includes specified product</span></h3>
        </div>
        <div class="panel-body">
          <%= f.collection_select :eligible_plan_ids, @plans, :id, :name, { selected: @promotion.eligible_plan_ids }, multiple: true %>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <div class="panel panel-info clonedCalc" id="clonedCalc0">
        <div class="panel-heading">
          <h3 class="panel-title">Adjustment <span>Creates a promotion credit adjustment on order</span></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <% if @promotion.persisted? %>
                <%= @promotion.adjustment_type %>
              <% else %>
                <%= f.select :adjustment_type, Promotion::ADJUSTMENT_TYPES, {selected: @promotion.adjustment_type} %>
              <% end %>
            </div>
            <div class="col-md-6">
              <% if @promotion.persisted? %>
                <%= @promotion.adjustment_amount %>
              <% else %>
                <%= f.number_field :adjustment_amount, step: 'any', min: 0, max: 100 %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="col-md-12 pull-right actions">
      <%= f.submit submit_button_text, id: 'btn-submit', class: 'btn btn-admin' %>
    </span>
  </div>
<% end %>

<div class="modal hide" id="promo_codes_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title"></h2>
  </div>

  <div class="modal-body">
    <p>You are about to generate 200 new one-time use codes.</p>
    <p>Are you sure you want to do this?</p>
  </div>

  <div class="modal-footer">
    <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" id="generate-promos">Confirm</button>
  </div>
</div>
