<%= form_tag create_coupons_admin_promotion_path do %>
  <div class="form-group single-use">
    <label class="label-primary">COUPON PREFIX:</label>
    <%= @promotion.coupon_prefix %>
    <%= hidden_field_tag :coupon_prefix, @promotion.coupon_prefix, { name: 'promotion[coupon_prefix]' } %>
  </div>
  <div class="form-group single-use">
    <label class="label-primary">CHAR LENGTH:</label>
    <%= text_field_tag 'char_length', '', type: 'number', class: 'form-control' %>
  </div>
  <div class="form-group single-use">
    <label class="label-primary">CODE QTY:</label>
    <%= text_field_tag 'quantity', '', type: 'number', min: '0', class: 'form-control' %>
  </div>
  <div class="form-group single-use">
    <label class="label-primary">RECIPIENTS:<br>
    <small>Comma-separated list of email addresses</small>
    </label>
    <%= text_field_tag 'recipients', "#{current_admin_user.email}", type: 'text', class: 'form-control' %>
  </div>
  <%= submit_tag 'Generate' %>
<% end %>
