<div class="white-bg">
  <div class="container padding-top-50 align-center">
    <div class="row">
      <div class="col-md-6 base">
        <h3>WE'RE SORRY YOU NEED TO GO</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 hidden-xs hidden-sm"></div>
      <div class="col-md-8 base upBox">
        <div class="howitworks-header">
          CONFIRM CANCELLATION
        </div>

        <div class="bottom">
          <div class="upContent">
            <div id="upgrade-preview-box">
              <% if subscription.subscription_status == 'active' %>

                <% if is_level_up?(@subscription) %>
                  <p>Your subscription to <strong><%= subscription.plan.title %></strong> will be cancelled on <%= subscription.next_assessment_at.try(:strftime, "%B %d, %Y") %>.</p>
                  <p><strong>Please note</strong>: You will still receive any remaining Level Up packages owed.</p>
                <% else %>
                  <p>Your <%= subscription.plan.readable_name %> will be cancelled on <%= subscription.next_assessment_at.try(:strftime, "%B %d, %Y") %>.</p>
                  <p><strong>Please note</strong>: You will still receive your remaining crates owed.</p>
                <% end %>

                <div class="div-table-row">
                  <% if subscription.cancel_at_end_of_period %>

                    <div class="div-table-col"></div>
                    <%= link_to "Remove Cancellation", undo_cancellation_at_end_of_period_subscription_path(subscription), method: :put %><% else %>
                    <div class="div-table-col"></div>

                    <%= link_to 'Cancel Subscription', cancel_at_end_of_period_subscription_path(subscription), method: :put, id: 'cancel-at-end-of-period', data: { confirm: 'Are you sure you want to cancel your subscription?' }, class: 'cancellation-link' %>
                    <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2 hidden-xs hidden-sm"></div>
    </div>
  </div>
</div>