<ul class="upRow">
	<li class="upLeft">
		<%= t('subscriptions.upgrade_preview.product_price') %>
	</li>
	<li class="upRight">
    <span class="upCost">
      <%= cents_to_dollars(preview[:charge_in_cents]) %>
    </span> <%= t('subscriptions.upgrade_preview.tax_included') %>
	</li>
</ul>
<ul class="upRow">
	<li class="upLeft">
		<%= t('subscriptions.upgrade_preview.prorated_amount') %>
	</li>
	<li class="upRight">
		<span class="upCost"><%= cents_to_dollars(preview[:prorated_amount_in_cents]) %></span>
	</li>
</ul>
<ul class="upRow">
	<li class="upLeft">
		<%= t('subscriptions.upgrade_preview.payment_due') %>
	</li>
	<li class="upRight">
		<span class="upCost"><%= cents_to_dollars(preview[:payment_due_in_cents]) %></span>
	</li>
</ul>
