<ul class="upRow">
  <li class="upLeft">
    <%= t('subscriptions.upgrade_preview.product') %>
  </li>
  <li class="upRight">
    <span class="upCost"><%= plan_title %></span>
  </li>
</ul>
<ul class="upRow reactSaved hide">
  <li class="upLeft">
    <%= t('subscriptions.upgrade_preview.savings') %>
  </li>
  <li class="upRight">
    -<span class="reactSavings"></span><span class="reactCode"></span>
  </li>
</ul>
<ul class="upRow">
  <li class="upLeft">
    <%= t('subscriptions.upgrade_preview.total_payment') %>
  </li>
  <li class="upRight">
    <span class="upCost" id="reactivation-total-payment">
      $<%= preview[:total_payment] %>
    </span> <%= t('subscriptions.upgrade_preview.tax_included') %>
  </li>
</ul>
