<div class='white-bg'>
  <div class='container base spacer'>

    <div id='edit_looter_info'>

      <div class='row'>
        <div class='col-sm-12'>
          <h3>
            <%= t('subscriptions.edit_personal_info').upcase %>
          </h3>
        </div>
      </div>

      <div class='row'>
        <div class='col-sm-6 edit-container' id='edit-container' data-editable='<%= current_unit_editable?(@subscription.latest_period) %>' data-fieldname='T-Shirt Size' data-month='<%= Subscription::CrateDateCalculator.current_crate_month %>' data-nextmonth='<%= Subscription::CrateDateCalculator.next_crate_month %>'>

          <%= simple_form_for(@subscription, :html => {:class => 'card_form form-vertical form-validate', :role => 'form' }) do |f| %>

            <%= f.error_notification %>
            <div class='form-inputs'>
              <div class='row'>
                <div class='col-sm-12'>
                  <%= f.input :shirt_size, :as => :select, :collection => shirt_sizes, :input_html => { :class => 'select select2' }, :prompt => :shirt_size, :label => 'T Shirt Size', :required => true %>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-12'>
                  <%= f.input :name, :required => true, :label => 'Subscription name' %>
                </div>
              </div>
            </div>

            <div class='form-actions'>
              <div class='row'>
                <div class='col-sm-8 col-xs-3 back'>
                  <i class='fa fa-caret-left'></i> <%= link_to t(:back), :back %>
                </div>
                <div class='col-sm-4 col-xs-9'>
                  <%= f.button :submit, t(:update), :class => 'btn btn-secondary' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class='col-md-3 hidden-xs hidden-sm'></div>
    </div>
  </div>
</div>

<%= render partial: 'shared/shipped_alert_modal' %>
