<div class='reactivation-box'>
  <div class='upTitle'>
    <ul>
      <li class='topUp'>
        <header>
          <%= t('subscriptions.reactivation.title') %>
        </header>
      </li>
    </ul>
  </div>

  <div class='upBox'>
    <div class='upContent'>
      <%= render 'subscriptions/reactivation_preview', locals: { plan_title: @subscription.plan_title, preview: @preview } %>
    </div>

    <div class='reactBox' data-url="<%= apply_coupon_for_reactivation_subscription_path(@subscription) %>">
      <i class='fa fa-spinner fa-spin hide'></i>
      <%= form_tag(reactivate_subscription_path(@subscription), method: :put, id: 'reactivate_subscription', data: {token: ENV['RECURLY_PUBLIC_TOKEN']}) do %>
      <% unless is_level_up?(@subscription) %>
        <div class='row clearMargin'>
          <div class='half'>
            <div class='reactInputs'>
              <%= text_field_tag :coupon_code,nil, class:'react_coupon_code', data: {recurly: 'coupon', url: apply_coupon_for_reactivation_subscription_path(@subscription)} %>
              <div class='reactLoadSpin hide'>
                <i class='fa fa-spinner fa-spin'></i>
              </div>
            </div>
          </div>
          <div class='half'>
            <div class='reactValidate btn'>
              <a href='#' id='validate-reactivation-coupon'>
                <%= t('subscriptions.reactivation.validate_coupon') %>
              </a>
            </div>
          </div>
        </div>
        <div class='row clearMargin'>
          <div class='half'>
            <div class='reactStatus' id='coupon-status'>
            </div>
          </div>
        </div>
      <% end %>

    <!-- Hidden fields for Recurly.js -->
    <%= hidden_field_tag :plan_name, @subscription.plan_name, data: {recurly: 'plan'} %>
    <%= hidden_field_tag :country, @subscription.plan_country, data: {recurly: 'country'} %>
    <%= hidden_field_tag :postal_code, @subscription.shipping_address.zip, data: {recurly: 'postal_code'} %>
    <%= hidden_field_tag :tax_code, 'digital', data: {recurly: 'tax_code'} %>

    <%= submit_tag 'Submit', class: 'btn btn-secondary', id: 'reactivate-button' %>
    <% end %>
    <div class='upBottomText'></div>
  </div>
</div>
