<div class='white-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-9 top-section'>
        <h1>Skip A Month</h1>
        <p>Skip a month and come back in 30 days, refreshed and ready for your next Loot Crate.</p>
        <p>You would <strong>Skip <%= month_year_to_friendly_date(@month_to_skip) %></strong> and get your next crate in <%= month_year_after_skip(@month_to_skip) %>.</p>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-12 mid-section'>
        <%= image_tag("#{(@month_to_skip_image)}-skip-hero.png", alt: 'Skip a month', class: 'img-responsive' ) %>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-12 btm-section'>
        <div class='pull-right'>Excellent idea! Let's do that! <span class="visible-xs"><p></p></span>
          <%= link_to('SKIP A MONTH', skip_a_month_subscription_path(@subscription), class: 'btn btn-secondary btn-skip', method: :put) %>
        </div>
      </div>
      <div class='col-sm-12'>
        <div class='pull-right'>
          <%= link_to('No thanks.', user_accounts_subscriptions_path, class: 'btn-cancel') %>
        </div>
      </div>
    </div>

  </div>
</div>
