<div class='reactivation-box'>
  <% if @upgradable_plans.empty? %>
    <p>
      <%= t('subscriptions.upgrade_preview.have_best_plan') %>
    </p>
    <%= link_to t('subscriptions.upgrade_preview.back_to_subscription'), user_accounts_subscriptions_path %>
  <% elsif @subscription.cancel_at_end_of_period %>
    <p>
      <%= t('subscriptions.upgrade_preview.remove_pending_cancelattions') %>
    </p>
    <%= link_to t('subscriptions.upgrade_preview.back_to_subscription'), user_accounts_subscriptions_path %>
  <% else %>
    <div class='upTitle'>
      <ul>
        <li class='midBar sideUp'>
        </li>
        <li class='topUp'>
          <header>
            <%= t('subscriptions.upgrade_preview.upgrade_your_subscription').html_safe %>
          </header>
        </li>
        <li class='midBar sideUp'>
        </li>
      </ul>
    </div>
    <div class='upSubTitle'>
      <%= t('subscriptions.upgrade_preview.extra_awesome') %>
    </div>
    <div class='upNow upBox'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='col-xs-6 upNowHands'>
            <div class='upNowImage'>
              <div class='theShirt'>
                <%#= image_tag('l_shirt_v01.jpg') %>
              </div>
            </div>
          </div>

          <div class='col-xs-6 upNowStuff'>
            <div class='upNowContent'>
              <div class='upNowFree'>
               <%= t('subscriptions.upgrade_preview.receive_bonus_gift') %>
              </div>
              <div class='upNowTitle'>
                <%= t('subscriptions.upgrade_preview.upgrade_now') %>
              </div>
              <div class='upNowDetails'>
                <%= t('subscriptions.upgrade_preview.to_one_year_subscription') %>
              </div>
              <div class='upNowFree'>
               <i class='fa upNowGift fa-gift'></i>
              </div>

              <div class='upNowRetail'>
                <%= t('subscriptions.upgrade_preview.retail_value') %>
                <span class='upNowEx'>
                  <%= t('subscriptions.upgrade_preview.retail_value_price') %>
                </span>
              </div>
              <div class='upNowOffer'>
                <%= t('subscriptions.upgrade_preview.limited_time_offer') %>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class='upBox'>
      <div class='upHeader'>
        <%= t('subscriptions.upgrade_preview.upgrade_details') %>
      </div>
      <div class='upContent'>
        <div id='upgrade-preview-box'>
          <%= render 'subscriptions/preview', preview: @upgrade_preview %>
        </div>
      </div>

      <div class='upSend'>
        <%= form_tag upgrade_subscription_path(@subscription), method: 'PUT', id: 'upgrade-subscription' do %>
          <%= select_tag 'upgrade_plan_name', options_for_select(@upgradable_plans.map(&:name), @plan.name) %> <br>
          <div class='incFree'>
            <ul class='inline'>
              <li class='barPost'>
                <i class='fa giftBar fa-gift'></i>
              </li>
              <li>
                <%= t('subscriptions.upgrade_preview.includes_bonus_gift').html_safe %>
              </li>
            </ul>
          </div>
          <%= submit_tag t(:submit).upcase, class: 'btn btn-secondary', id: 'upgrade-button' %>
        <% end %>
      </div>
      <div class='upBottomText'>
      </div>
  </div>
  <% end %>
</div>