<div class="panel">
  <h3> Survey Results for: "<%= survey.title %>"</h3>

  <div class="panel_contents">

    <h4>
      Completed: <%= survey.statistics[1][1] %> | Survey Status:
      <span class="status_tag complete"><%= survey.status %></span>
    </h4>

    <div class="survey_sections">

      <table border="0" cellspacing="0" cellpadding="0" role="grid" index_table_plans" class="index_table index" paginator="true">
       <thead>
         <th>
           Question
         </th>
         <th>
           Page
         </th>
         <th>
           Options
         </th>
       </thead>
        <%
          survey.pages.each do |p|
            p.questions.each do |q|
              next if gizmo_is_question?(q)
              question_statistics = gizmo_get_question_statistics(q, statistics)
        %>
            <tr>
              <td>
                <%= q.title.html_safe %>
              </td>
              <td>
                <%= p.title['English'] %>
              </td>
              <td>
                <ul>
                  <% unless question_statistics['Breakdown'].nil? %>
                    <% question_statistics['Breakdown'].each do |b| %>
                      <li>
                        <%= b['label'] %>
                        (<%= b['percentage']%>%)
                        (<%= b['count']%>)
                        <%#= question_statistics['Total Responses'] %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </td>
            </tr>
        <%
            end
          end
        %>

      </table>
    </div>
  </div>
</div>


