<div id="cosummarypricebreakdown">
	<div class="horizontalrule"></div>
	<div class="spacer5"></div>
	<div class="cosumbreaklabel">Monthly Cost</div>
	<div class="cosumbreakprice">
		<%= number_to_currency(@plan.monthly_cost + @plan.shipping_and_handling, locale: :en) %>
	</div>
	<div class="spacer5"></div>
	<div class="horizontalrule"></div>

	<%- if @checkout.coupon && @checkout.coupon.valid? %>
	<div class="spacer5"></div>
	<div class="cosumbreaklabel">Coupon Savings</div>
	<div class="cosumbreakprice">
		<%= number_to_currency(@checkout.coupon_discount_amount, locale: :en) %>
	</div>
	<div class="spacer5"></div>
	<div class="horizontalrule"></div>
	<%- end -%>

	<%- if @checkout.shipping_address_state == 'CA' %>
	<div class="spacer5"></div>
	<div class="cosumbreaklabel">
		<%= "#{@checkout.shipping_address_state} Sales Tax (#{number_to_percentage(9, precision: 1, locale: :en)})" %>
		<div class="cosumbreakprice">
			<%= number_to_currency(@checkout.tax_charges_after_discount, locale: :en) %>
		</div>
		<div class="spacer5"></div>
		<div class="horizontalrule"></div>
	</div>
	<%- end -%>

	<div class="spacer5"></div>
	<div class="cosumbreaklabel">
		<b>Today's Total</b>
		<br/>
		<%= "(then #{number_to_currency(@checkout.plan_renewal_cost, locale: :en)} at first renewal on #{readjusted_next_billing_date.to_date})"
		%>
	</div>
	<div class="div-table-row-hr"></div>
	<div class="cosumbreakprice">
		<span class="cototalprice">
			<%= number_to_currency(@checkout.total, locale: :en) %>
		</span>
	</div>
</div>
