<div id="cosummarypricebreakdown">
  <div class="subcription-month">
      <div><b><%= month_subscription(plan) %></b></div>
    <div><%= recurrent_fee(plan) %></div>
    <div><%= "First renewal on #{readjusted_next_billing_date.try(:strftime, '%B %d, %Y')}" %></div>
  </div>

  <div class="subscription-coupon hide">
    <p><b>Coupon</b>
      <span id='coupon-discount-amount'></span>
    </p>
  </div>

  <div class="subscription-cost">
    <p><b>Monthly Cost</b>
      <span>
        <b><%= number_to_currency(show_price_per_month(plan), locale: :en) %></b> (S&amp;H Included)
      </span>
    </p>
  </div>

  <div class="subscription-tax hide">
    <p>
      <span id='subscription-sales-tax'>
      </span>
    </p>
  </div>

  <div class="subscription-total">
    <p>Today's Total
      <span id='subscription-today-total'>
        <%= number_to_currency(checkout.total, locale: :en) %>
      </span>
    </p>
  </div>
</div>
