<%= content_for :title, 'Contact' %>

<div id='contact-page' class='white-bg statics'>
  <div class='container'>
    <div class='row'>

      <div class='col-sm-3 side-nav-container'>
        <%= render 'shared/side_nav' %>
      </div>

      <div class='col-sm-9'>

        <div class='contact-top'>
          <h1><%= t('contact_us.title') %></h1>
        </div>

        <div class='contact-bottom'>
          <div class='contact-box'>
            <h3><%= t('contact_us.general_questions') %></h3>
            <p><%= t('contact_us.question_link').html_safe %></p>
          </div>

          <div class='contact-box'>
            <h3><%= t('contact_us.supplier_or_publisher') %></h3>
            <p><%= t('contact_us.supplier_link').html_safe %></p>
          </div>

          <div class='contact-box'>
            <h3><%= t('contact_us.press_inquiry') %></h3>
            <p><%= t('contact_us.press_link').html_safe %></p>
          </div>

          <div class='contact-box'>
            <h3><%= t('contact_us.send_letter') %></h3>
            <p><%= t('contact_us.address') %></p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
