<div class='white-bg'>
  <div class='container'>
    <!-- Past Crates -->
    <div class='row'>
      <div class='col-md-12 align-center'>
      <h1><%= t('international.welcome') %></h1>
      <h4><%= t('international.select_your_country') %></h4>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3 intl-flags'>
        <%= link_to 'au' do %>
          <%= image_tag(image_path('australia_flag.jpg'), size: '68x32', class: 'img-responsive') %>
          <p><%= t('international.countries.australia') %></p>
        <% end %>
      </div>
      <div class='col-md-3 intl-flags'>
        <%= link_to 'ca' do %>
          <%= image_tag(image_path('canada_flag.jpg'), size: '68x32', class: 'img-responsive') %>
          <p><%= t('international.countries.canada') %></p>
        <% end %>
      </div>
      <div class='col-md-3 intl-flags'>
        <%= link_to 'dk' do %>
          <%= image_tag(image_path('dk_flag.jpg'), size: '68x32', class: 'img-responsive') %>
          <p><%= t('international.countries.denmark') %></p>
        <% end %>
      </div>
      <div class='col-md-3 intl-flags'>
        <%= link_to 'fi' do %>
          <%= image_tag(image_path('fi_flag.jpg'), size: '68x32', class: 'img-responsive') %>
          <p><%= t('international.countries.finland') %></p>
        <% end %>
      </div>
    </div>
    <div class='row spacing'>
      <div class='col-md-3 intl-flags'>
        <%= link_to 'fr' do %>
          <%= image_tag(image_path('fr_flag.jpg'), size: '68x32', class: 'img-responsive') %>
          <p><%= t('international.countries.france') %></p>
        <% end %>
      </div>
      <div class='col-md-3 intl-flags'>
        <%= link_to 'de' do %>
          <%= image_tag(image_path('de_flag.jpg'), size: '68x32', class: 'img-responsive') %>
          <p><%= t('international.countries.germany') %></p>
        <% end %>
      </div>
      <div class='col-md-3 intl-flags'>
        <%= link_to 'ie' do %>
          <%= image_tag(image_path('ie_flag.jpg'), size: '68x32', class: 'img-responsive') %>
          <p><%= t('international.countries.ireland') %></p>
        <% end %>
      </div>
      <div class='col-md-3 intl-flags'>
        <%= link_to 'nl' do %>
          <%= image_tag(image_path('nl_flag.jpg'), size: '68x32', class: 'img-responsive') %>
          <p><%= t('international.countries.netherlands') %></p>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3 intl-flags'>
        <%= link_to 'no' do %>
          <%= image_tag(image_path('no_flag.jpg'), size: '68x32', class: 'img-responsive') %>
          <p><%= t('international.countries.norway') %></p>
        <% end %>
      </div>
      <div class='col-md-3 intl-flags'>
        <%= link_to 'nz' do %>
          <%= image_tag(image_path('nz_flag.jpg'), size: '68x32', class: 'img-responsive') %>
          <p><%= t('international.countries.new_zealand') %></p>
        <% end %>
      </div>
      <div class='col-md-3 intl-flags'>
        <%= link_to 'se' do %>
          <%= image_tag(image_path('se_flag.jpg'), size: '68x32', class: 'img-responsive') %>
          <p><%= t('international.countries.sweden') %></p>
        <% end %>
      </div>
      <div class='col-md-3 intl-flags'>
        <%= link_to 'uk' do %>
          <%= image_tag(image_path('uk_flag.jpg'), size: '68x32', class: 'img-responsive') %>
          <p><%= t('international.countries.united_kingdom') %></p>
        <% end %>
      </div>
    </div>
</div>
</div>