<%= link_to 'Cancel', '#', id: "initiate-cancellation#{subscription.id}", data: { toggle: "modal", target: "#cancellation-modal#{subscription.id}" } %>

<div id="cancellation-modal<%= subscription.id%>" class="modal fade admin-cancellation" tabindex="-1" role="dialog" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Cancel Subscription</h2>
      </div>

      <div class="modal-body">
        Name: <%= subscription.user_full_name %> <br>
        Plan: <%= subscription.plan.readable_name %> - <%= subscription.shirt_size %> <br>
        Email: <%= subscription.user_email %> <br>
        Created: <%= subscription.created_at %> <br>
      </div>

      <div class="modal-footer">
        <%= link_to 'CANCEL IMMEDIATELY', cancel_immediately_admin_subscription_path(subscription), method: :put, data: {confirm: 'You are about to cancel a subscription immediately. Are you sure?'}, class: 'btn btn-danger btn-large' %>

        <%= link_to 'CANCEL AT END OF PERIOD', cancel_at_end_of_period_admin_subscription_path(subscription), method: :put, class: 'btn btn-warning btn-large cancellation-link' %>
      </div>
    </div>
  </div>
</div>