<%= form_tag(reactivate_admin_subscription_path(resource.id), method: 'put', id: 'reactivate', class: 'reactivate admin-promo-form') do %>
<div class="row padding-btm">
  <div class="col-md-12">
    <label>REACTIVATION</label>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <div class="checkbox">
        <label class="label-primary">
          <%= check_box_tag :immediate, "yes", true, class: "toggler" %> Charge Immediately
        </label>
      </div>
    </div>
    <div class="form-group toggle-off">
      <label class="label-primary">Next Billing Date:</label>
      <%= date_field_tag :next_billing_date, 1.day.from_now.strftime("%Y-%m-%d") %>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12 form-group">
      <%= link_to "Reactivate", "javascript:{}", class: "btn btn-default", onclick: "$('#reactivate').submit(); return false" %>
      <%= link_to "Cancel", :back, class: "btn btn-default" %>
    </div>
  </div>
</div>
<% end %>
