<!-- New Footer -->
<div id="footer">

  <% if show_news_letter? %>
    <div class="footer-top">
      <div class="container">
        <h4 class="pull-left"><%= t('footer.want_epic_deals') %></h4>
          <form action="//newsletter_signup" method="post" role="form" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-search newsletter pull-left" target="_blank">
          <input type="email" required name="email" placeholder="<%= t('footer.your_email_address') %>" id="footer-mce-email">
          <input type="hidden" value="website footer" name="col-source" class="" id="mce-col-source">
          <button type="submit" class="btn btn-secondary btn-medium" id="footer-mc-embedded-subscribe">Join</button>
        </form>
      </div>
    </div>
  <% end %>

  <div class="footer-mid">
    <div class="container">
      <div class="pull-left">
        <h4><%= t('footer.epic_geek') %></h4>
        <p>
          <%= t('footer.epic_geek_content').html_safe %>
        </p>
        <ul class="footer-menu">
          <li>
            <%= link_to 'https://itunes.apple.com/us/app/loot-crate/id589642463?mt=8' do %>
              <%= image_tag image_path("appstore.png"), size: '440x123' %>
            <% end %>
          </li>
          <li>
            <%= link_to 'https://play.google.com/store/apps/details?id=com.mobileroadie.app_15228&amp;hl=en' do %>
              <%= image_tag image_path("googleplay.png"), size: '440x123' %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="pull-right">
        <div class="col col-left">
          <h4><%= t('footer.about.title') %></h4>
          <ul>
            <li><%= link_to t('footer.about.links.our_mission'), '/about_us'  %></li>
            <li><%= link_to t('footer.about.links.subscribe'), '/subscriptions'  %></li>
            <li><%= link_to t('footer.about.links.how_it_works'), '/how_it_works'  %></li>
            <li><%= link_to t('footer.about.links.community'), '/community' %></li>
            <li><%= link_to t('footer.about.links.contest_winners'), '/contest_winners' %></li>
            <li><%= link_to t('footer.about.links.lc_magazine'), 'http://magazine.lootcrate.com/' %></li>
            <li><%= link_to t('footer.about.links.careers'), 'http://lootcrate.theresumator.com/' %></li>

          </ul>
        </div>
        <div class="col col-mid">
          <h4><%= t('footer.socialize.title') %></h4>
          <ul>
            <li><a href="http://facebook.com/lootcrate" target="blank"><%= t('footer.socialize.links.facebook') %></a></li>
            <li><a href="http://twitter.com/lootcrate" target="blank"><%= t('footer.socialize.links.twitter') %></a></li>
            <li><a href="https://www.youtube.com/user/LootCrate" target="blank"><%= t('footer.socialize.links.youtube') %></a></li>
            <li><a href="http://instagram.com/lootcrate" target="blank"><%= t('footer.socialize.links.instagram') %></a></li>
            <li><a href="http://lootcrate.tumblr.com/" target="blank"><%= t('footer.socialize.links.tumblr') %></a></li>
          </ul>
        </div>
        <div class="col col-right">
          <h4><%= t('footer.support.title') %></h4>
          <ul>
            <li><%= link_to t('footer.support.links.faq_and_help_center'), 'https://help.lootcrate.com/' %></li>
            <li><%= link_to t('footer.support.links.terms_and_conditions'), '/terms_conditions' %></li>
            <li><%= link_to t('footer.support.links.privacy_policy'), '/privacy_policy' %></li>
            <li><%= link_to t('footer.support.links.contact'), '/contact' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="pull-left">
        <p><%= t('footer.copyright', year: Time.now.year).html_safe %></p>
      </div>
      <!-- START Country Select -->
      <div class="pull-right country-selectbox" data-highlight="false">
        <%= render "welcome/country_selector", locals: { dropup: true }  %>
        </div>
      <!-- END Country Select -->

      <!-- Tracking Pixels -->
      <%#= render 'tracking_pixels/crazy_egg' %>
      <%#= render 'tracking_pixels/qualaroo' %>
      <%#= render 'tracking_pixels/nanigans_home' %>

      <script type='text/javascript' src="//wurfl.io/wurfl.js"></script>

    </div>
  </div>

</div>

