<!DOCTYPE html>
<html lang=<%= I18n.locale %>>
  <head>
    <%= render 'layouts/head', showcountdowntimer: show_countdown_timer? %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body id="<%= "#{controller_name_for_id}-#{action_name}" %>" data-showcountdowntimer="<%= show_countdown_timer? ? 'true' : 'false' %>" class="<%= controller_name %>" data-no-turbolink>
    <div id="fb-root"></div>

    <!-- ANALYTICS -->
    <%= render partial: 'shared/analytics/facebook' %>
    <%= render partial: 'shared/analytics/qualaroo' %>
    <%= render partial: 'shared/analytics/crazyegg' %>
    <%= render partial: 'shared/convertro_universal_tag' %>
    <%= render partial: 'shared/analytics/gleam' %>
    <%= render partial: 'shared/tealium_udo', locals: {data: @tealium_udo} %>
    <%= render partial: 'shared/tealium_utag', locals: {data: @tealium_udo} %>

    <!-- END ANALYTICS -->

    <div class="loot-container">
      <!-- https://code.google.com/p/chromium/issues/detail?id=179360 -->
      <a class="hidden" href="/">work around google max-age=0</a>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/messages' %>
      <div class="main-content">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>

    <%= render 'shared/login_modal' %>
    <%= render 'shared/register_modal' %>

    <!-- ANALYTICS -->
    <%= render partial: 'shared/analytics/google' %>
    <%= render partial: 'shared/analytics/steelhouse' %>
    <%= render partial: 'shared/analytics/sailthru_horizon' %>
    <!-- END ANALYTICS -->
  </body>
</html>
