<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quantico" async="async">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Titillium+Web:400,600" async="async">

    <title><%= t('header.title') %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta property="og:title" content="Loot Crate - Monthly Geek and Gamer Subscription Box." />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Loot Crate is an epic monthly subscription box for geeks and gamers for under $20." />
    <meta property="og:url" content="http://www.lootcrate.com" />
    <meta property="og:image" content="<%= image_path('opengraphlootcrate2.png')%>" />
    <meta property="og:site_name" content="Loot Crate" />
    <meta property="fb:admins" content="696339967,13302903,3622990" />

    <meta name="keywords" content="loot crate, lootcrate, geek subscription box, gamer subscription box, geek an gamer, subscription box, loot crate subscription, loot box, loot crates "/>
    <meta name="description" content="Loot Crate is an epic monthly subscription box for geeks and gamers for under $20."/>
    <meta name="apple-itunes-app" content="app-id=589642463, affiliate-data=fIUNr49qwc8" />

  </head>

  <body  onload="countdown(year,month,day,hour,minute)" class="<%= controller_name %> <%= action_name %>">
    <div class="container">
      <div id="nav">
        <%= render 'layouts/navigation' %>
      </div>
      <div class="container">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33561868-1']);
      _gaq.push(['_setDomainName', 'lootcrate.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>